<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IAttendanceDAO">
	<resultMap id="attendance_DB_Result" type="attendance">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="staff_code" property="staffCode" />
		<result column="staff_mobile" property="staffMobile" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="settle_datetime" property="settleDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND t.project_code = #{projectCode}
			</if>
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="staffCode != null and staffCode != '' ">
				AND t.staff_code = #{staffCode}
			</if>
			<choose>
				<when test="status == 'not_n' ">
					AND t.status IN ('1','2','3')
				</when>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
			</choose>
			
			<if test="keyword != null and keyword != '' ">
				AND t.staff_mobile like "%"#{keyword}"%"
			</if>
			
		</trim>
	</sql>
	<select id="select_attendance" parameterType="attendance" resultMap="attendance_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.project_name
		,t.staff_code
		,t.staff_mobile
		,t.status
		,t.create_datetime
		,t.start_datetime
		,t.end_datetime
		,t.settle_datetime
		,t.remark
		FROM
		thf_attendance t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_attendance_count" parameterType="attendance"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_attendance t
		<include refid="where_condition" />
	</select>

	<insert id="insert_attendance" parameterType="attendance">
		INSERT INTO
		thf_attendance(
		code
		,project_code
		,project_name
		,staff_code
		,staff_mobile
		,status
		,create_datetime
		,start_datetime
		,end_datetime
		,settle_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{projectName}
		,#{staffCode}
		,#{staffMobile}
		,#{status}
		,#{createDatetime}
		,#{startDatetime}
		,#{endDatetime}
		,#{settleDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_attendance" parameterType="attendance">
		UPDATE thf_attendance
		SET
		project_code = #{projectCode}
		,project_name = #{projectName}
		,staff_code = #{staffCode}
		,staff_mobile = #{staffMobile}
		,status = #{status}
		,create_datetime = #{createDatetime}
		,start_datetime = #{startDatetime}
		,end_datetime = #{endDatetime}
		,settle_datetime = #{settleDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>