<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IBankCardInfoDAO">
	<resultMap id="bankCardinfo_DB_Result" type="bankCardInfo">
		<result column="code" property="code" />
		<result column="business_type" property="businessType" />
		<result column="business_sys_no" property="businessSysNo" />
		<result column="business_name" property="businessName" />

		<result column="bank_name" property="bankName" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_number" property="bankNumber" />
		<result column="subranch" property="subranch" />
		<result column="bank_link_number" property="bankLinkNumber" />
		<result column="create_datetime" property="createDatetime" />
		<result column="updater" property="updater" />
		<result column="status" property="status" />

	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="bankName != null and bankName != '' ">
				AND t.bankName = #{bankName}
			</if>
			<if test="bankNumber != null and bankNumber != '' ">
				AND t.bank_number = #{bankNumber}
			</if>
			<if test="businessSysNo != null  and businessSysNo != ''">
				AND t.business_sys_no = #{businessSysNo}
			</if>
			<if test="bankNumber != null and bankNumber != '' ">
				AND t.bank_number = #{bankNumber}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="businessType != null and businessType != '' ">
				AND t.business_type = #{businessType}
			</if>
			<if test="businessName != null and businessName != '' ">
				AND t.business_name like "%"#{businessName}"%"
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>

		</trim>
	</sql>

	<sql id="join_condition_worker">
		<if test="businessType != null and businessType == '002'">
			LEFT JOIN thf_project_worker b
			on t.business_sys_no = b.code
		</if>
	</sql>

	<sql id="join_condition_corp">
		<if test="businessType != null and businessType == '001'">
			LEFT JOIN thf_project_corp_info b
			on t.business_sys_no = b.code
		</if>
	</sql>


	<insert id="insert_bankCardInfo" parameterType="bankCardInfo">
		INSERT INTO
		thf_bank_card_info(
		code
		,business_type
		,business_sys_no
		,business_name
		,bank_name
		,subranch
		,bank_code
		,bank_number
		,bank_link_number
		,create_datetime
		,update_datetime
		,status
		)
		VALUES(
		#{code}
		,#{businessType}
		,#{businessSysNo}
		,#{businessName}
		,#{bankName}
		,#{subranch}
		,#{bankCode}
		,#{bankNumber}
		,#{bankLinkNumber}
		,#{createDatetime}
		,#{updateDatetime}
		,#{status}
		)
	</insert>

	<delete id="delete_bankCardInfo" parameterType="bankCardInfo">
		DELETE from
		thf_bank_card_info WHERE code = #{code}
	</delete>

	<update id="update_bankCardInfo" parameterType="bankCardInfo">
		UPDATE
		thf_bank_card_info
		SET
		bank_name = #{bankName}
		,bank_code = #{bankCode}
		,bank_link_number = #{bankLinkNumber}
		,subranch = #{subranch}
		,bank_number = #{bankNumber}
		WHERE code = #{code}
	</update>

	<update id="update_bankCardInfoStatus" parameterType="bankCardInfo">
		UPDATE
		thf_bank_card_info
		SET
		status = #{status}
		,update_datetime =
		#{updateDatetime}
		WHERE code = #{code}
	</update>


	<select id="select_bankCardInfo" parameterType="bankCardInfo"
		resultMap="bankCardinfo_DB_Result">
		SELECT
		t.code
		,t.business_type
		,t.business_sys_no
		,t.bank_name
		,t.bank_code
		,t.bank_number
		,t.subranch
		,t.bank_link_number
		,t.business_name
		,t.create_datetime
		,t.updater
		,t.update_datetime
		,t.status
		FROM
		thf_bank_card_info t
		<include refid="join_condition_worker"/>
		<include refid="join_condition_corp"/>
		<include refid="where_condition" />
		<if test="businessSysNo != null and businessSysNo != '' and businessType != null">
			AND b.code = #{businessSysNo}
		</if>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bankCardInfo_count" parameterType="bankCardInfo"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_bank_card_info t
		<include refid="where_condition" />
	</select>


	<update id="update_bankCardInfoStatusByBussiness" parameterType="bankCardInfo">
		UPDATE
		thf_bank_card_info
		SET
		status = #{status}
		WHERE business_sys_no =
		#{businessSysNo}
	</update>
</mapper>