<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.ICompanyCardDAO">
	<resultMap id="companyCard_DB_Result" type="companyCard">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="project_code" property="projectCode" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		
		<result column="subbranch" property="subbranch" />
		<result column="account_name" property="accountName"/>
		<result column="bankcard_number" property="bankcardNumber" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<choose>
				<when test="projectCode != null and projectCode != '' ">
					AND t.project_code = #{projectCode}
				</when>
				<when test="projectCodeList != null and projectCodeList.size() > 0 ">
					AND t.project_code IN 
					<foreach collection="projectCodeList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
				<otherwise>
					AND 1 = 1
				</otherwise>
			</choose>
			<if test="status != null and status !='' ">
				AND t.status = #{status}
			</if>
			
			
			<if test="companyCode != null and companyCode !='' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.bank_name like "%"#{keyword}"%" OR  t.subbranch like "%"#{keyword}"%"  OR  t.bankcard_number like "%"#{keyword}"%")
			</if>
		</trim>
	</sql>
	<select id="select_companyCard" parameterType="companyCard" resultMap="companyCard_DB_Result">
		SELECT
		t.code
		,t.company_code
		,t.project_code
		,t.bank_code
		,t.bank_name
		
		,t.subbranch
		,t.account_name
		,t.bankcard_number
		,t.status
		,t.create_datetime
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_company_card t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_companyCard_count" parameterType="companyCard"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_company_card t
		<include refid="where_condition" />
	</select>

	<insert id="insert_companyCard" parameterType="companyCard">
		INSERT INTO
		thf_company_card(
		code
		,company_code
		,project_code
		,bank_code
		,bank_name
		
		,subbranch
		,bankcard_number
		,account_name
		,status
		,create_datetime
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{projectCode}
		,#{bankCode}
		,#{bankName}
		
		,#{subbranch}
		,#{bankcardNumber}
		,#{accountName}
		,#{status}
		,#{createDatetime}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_companyCard" parameterType="companyCard">
		UPDATE thf_company_card
		SET
		bank_code = #{bankCode}
		,bank_name = #{bankName}
		,subbranch = #{subbranch}
		,account_name = #{accountName}
		,bankcard_number = #{bankcardNumber}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>