<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IDepartmentDAO">
	<resultMap id="department_DB_Result" type="department">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="name" property="name" />
		<result column="leader" property="leader" />
		<result column="leade_mobile" property="leadeMobile" />
		<result column="parent_code" property="parentCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.name LIKE "%"#{keyword}"%" OR t.leade_mobile LIKE "%"#{keyword}"%" OR t.leader LIKE "%"#{keyword}"%" )
			</if>
		</trim>
	</sql>
	
	<select id="select_department" parameterType="department" resultMap="department_DB_Result">
		SELECT
		t.code
		,t.company_code
		,t.name
		,t.leader
		,t.leade_mobile
		,t.parent_code
		FROM
		thf_department t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_department_count" parameterType="department"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_department t
		<include refid="where_condition" />
	</select>


	<insert id="insert_department" parameterType="department">
		INSERT INTO
		thf_department(
		code
		,company_code
		,name
		,leader
		,leade_mobile
		,parent_code
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{name}
		,#{leader}
		,#{leadeMobile}
		,#{parentCode}
		)
	</insert>

	<update id="update_department" parameterType="department">
		UPDATE thf_department
		SET
		company_code = #{companyCode}
		,name = #{name}
		,leader = #{leader}
		,leade_mobile = #{leadeMobile}
		,parent_code = #{parentCode}
		WHERE code = #{code}
	</update>

	<delete id="delete_department" parameterType="department">
		DELETE FROM thf_department
		WHERE
		code = #{code}
	</delete>

</mapper>