<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IEmployDAO">
	<resultMap id="employ_DB_Result" type="employ">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="department_code" property="departmentCode" />
		<result column="staff_code" property="staffCode" />
		
		<result column="staff_name" property="staffName" />
		<result column="staff_mobile" property="staffMobile" />
		<result column="type" property="type" />
		<result column="position" property="position" />
		<result column="salary" property="salary" />
		
		<result column="cut_amount" property="cutAmount" />
		<result column="status" property="status" />
		<result column="join_datetime" property="joinDatetime" />
		<result column="leaving_datetime" property="leavingDatetime" />
		<result column="start_datetime" property="startDatetime" />
		
		<result column="last_leaving_days" property="lastLeavingDays" />
		<result column="total_leaving_days" property="totalLeavingDays" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		
		<result column="salary_status"  property="salaryStatus" />
	</resultMap>
	
	<sql id="join_condition">
		<if test="(pict1Status != null and pict1Status != '') 
					or (featStatus != null and featStatus != '')">
			join thf_staff ts on t.staff_code = ts.code
		</if>
	</sql>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="staffCode != null and staffCode != '' ">
				AND t.staff_code = #{staffCode}
			</if>
			<if test="projectName != null and projectName != '' ">
				AND t.project_name like "%"#{projectName}"%"
			</if>
			<if test="departmentCode != null and departmentCode != '' ">
				AND t.department_code = #{departmentCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="salaryStatus != null and salaryStatus != '' ">
				AND t.salary_status = #{salaryStatus}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.staff_mobile like "%"#{keyword}"%" OR t.position like "%"#{keyword}"%" OR t.staff_name like "%"#{keyword}"%")
			</if>
			
			<if test="pict1Status != null and pict1Status != '' ">
				AND ts.pict1_status = #{pict1Status}
			</if>
			<if test="featStatus != null and featStatus != '' ">
				AND ts.feat_status = #{featStatus}
			</if>
			
			<choose>
				<when test="projectCode != null and projectCode != ''">
					AND t.project_code = #{projectCode}
				</when>
				<when test="projectCodeList != null and projectCodeList.size() > 0 ">
					AND t.project_code IN 
					<foreach collection="projectCodeList" index="index" item="item" open="(" separator="," close=")" >
						#{item}
					</foreach>
				</when>
				<when test="projectCodeList != null and projectCodeList.size() == 0">
					AND t.code IN ('')
				</when>
			</choose>
			
			<choose>
				<when test="status == '0,1' ">
					AND t.status IN ('0','1')
				</when>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			
		</trim>
	</sql>
	
	<select id="select_employ" parameterType="employ" resultMap="employ_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.project_name
		,t.department_code
		,t.staff_code
		
		,t.staff_name
		,t.staff_mobile
		,t.type
		,t.position
		,t.salary
		
		,t.cut_amount
		,t.status
		,t.salary_status
		,t.join_datetime
		,t.leaving_datetime
		
		,t.start_datetime
		,t.last_leaving_days
		,t.total_leaving_days
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_employ t
		<include refid="join_condition" />
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_employ_count" parameterType="employ"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_employ t
		<include refid="join_condition" />
		<include refid="where_condition" />
	</select>

	<select id="select_salary_count" parameterType="employ"
		resultType="java.lang.Long">
		SELECT IFNULL(SUM(t.salary * 30),0) FROM thf_employ t
		<include refid="where_condition" />
	</select>

	<insert id="insert_employ" parameterType="employ">
		INSERT INTO
		thf_employ(
		code
		,project_code
		,project_name
		,department_code
		,staff_code
		,staff_name
		,staff_mobile
		,type
		,position
		,salary
		,cut_amount
		,status
		,salary_status
		,join_datetime
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{projectName}
		,#{departmentCode}
		,#{staffCode}
		,#{staffName}
		,#{staffMobile}
		,#{type}
		,#{position}
		,#{salary}
		,#{cutAmount}
		,#{status}
		,#{salaryStatus}
		,#{joinDatetime}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="to_holiday" parameterType="employ">
		UPDATE thf_employ
		SET
		status = #{status}
		,start_datetime = #{startDatetime}
		,last_leaving_days = #{lastLeavingDays}
		,total_leaving_days = #{totalLeavingDays}
		WHERE code = #{code}
	</update>
	
	<update id="leave_office" parameterType="employ">
		UPDATE thf_employ
		SET
		status = #{status}
		,leaving_datetime = #{leavingDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_employ" parameterType="employ">
		UPDATE thf_employ
		SET
		project_code = #{projectCode}
		,project_name = #{projectName}
		,department_code = #{departmentCode}
		,type = #{type}
		,position = #{position}
		,salary = #{salary}
		,cut_amount = #{cutAmount}
		,status = #{status}
		,join_datetime = #{joinDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_status" parameterType="employ">
		UPDATE thf_employ
		SET
		status = #{status}
		WHERE code = #{code}
	</update>

	<update id="update_salaryStatus" parameterType="employ">
		UPDATE thf_employ
		SET
		salary_status = #{salaryStatus}
		WHERE code = #{code}
	</update>
</mapper>