<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IEventRemindDAO">
	
	<resultMap id="eventRemind_DB_Result" type="eventRemind" >
		<result column="code" property="code" />
		<result column="system_code" property="systemCode" />
		<result column="organization_code" property="organizationCode" />
		<result column="name" property="name" />
		<result column="mobile" property="mobile" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}			
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}			
			</if>
			<if test="organizationCode != null and organizationCode != '' ">
				AND t.organization_code = #{organizationCode}			
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}			
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.name like "%"#{keyword}"%" OR t.mobile like "%"#{keyword}"%")
			</if>
		</trim>
	</sql>
	
	<select id="select_eventRemind" parameterType="eventRemind" resultMap="eventRemind_DB_Result">
		SELECT 
		t.code
		,t.system_code
		,t.organization_code
		,t.name
		,t.mobile
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM 
		thf_event_remind t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_eventRemind_count" parameterType="eventRemind" resultType="java.lang.Long">
		SELECT count(1) FROM thf_event_remind t
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_eventRemind">
		INSERT INTO
		thf_event_remind(
		code
		,system_code
		,organization_code
		,name
		,mobile
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{systemCode}
		,#{organizationCode}
		,#{name}
		,#{mobile}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<delete id="delete_eventRemind" parameterType="eventRemind">
		DELETE FROM thf_event_remind	
		WHERE code = #{code}
	</delete>
	
	<update id="upadte_eventRemind" parameterType="eventRemind">
		UPDATE thf_event_remind
		SET
		name = #{name}
		,mobile = #{mobile}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>