<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.cdkj.gchf.domain.User" />
		<typeAlias alias="blacklist" type="com.cdkj.gchf.domain.Blacklist" />
		<typeAlias alias="userRelation" type="com.cdkj.gchf.domain.UserRelation" />
		<typeAlias alias="cNavigate" type="com.cdkj.gchf.domain.CNavigate" />
		<typeAlias alias="fieldTimes" type="com.cdkj.gchf.domain.FieldTimes" />
		<typeAlias alias="sysMenu" type="com.cdkj.gchf.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.cdkj.gchf.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.cdkj.gchf.domain.SYSMenuRole" />
		<typeAlias alias="account" type="com.cdkj.gchf.domain.Account" />
		<typeAlias alias="jour" type="com.cdkj.gchf.domain.Jour" />
		<typeAlias alias="exchangeCurrency" type="com.cdkj.gchf.domain.ExchangeCurrency" />
		<typeAlias alias="charge" type="com.cdkj.gchf.domain.Charge" />
		<typeAlias alias="withdraw" type="com.cdkj.gchf.domain.Withdraw" />
		<typeAlias alias="hlOrder" type="com.cdkj.gchf.domain.HLOrder" />
		
		<typeAlias alias="sysDict" type="com.cdkj.gchf.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.cdkj.gchf.domain.SYSConfig" />

		
		<typeAlias alias="company" type="com.cdkj.gchf.domain.Company" />
		<typeAlias alias="department" type="com.cdkj.gchf.domain.Department" />
		
		<typeAlias alias="project" type="com.cdkj.gchf.domain.Project" />
		<typeAlias alias="bcontract" type="com.cdkj.gchf.domain.Bcontract" />
		<typeAlias alias="progress" type="com.cdkj.gchf.domain.Progress" />
	
		<typeAlias alias="companyCard" type="com.cdkj.gchf.domain.CompanyCard" />
		<typeAlias alias="channelBank" type="com.cdkj.gchf.domain.ChannelBank" />
		<typeAlias alias="employ" type="com.cdkj.gchf.domain.Employ" />
		<typeAlias alias="staff" type="com.cdkj.gchf.domain.Staff" />
		<typeAlias alias="bankCard" type="com.cdkj.gchf.domain.BankCard" />
		
		<typeAlias alias="attendance" type="com.cdkj.gchf.domain.Attendance" />
		<typeAlias alias="staff" type="com.cdkj.gchf.domain.Staff" />
		<typeAlias alias="bankCard" type="com.cdkj.gchf.domain.BankCard" />
		<typeAlias alias="message" type="com.cdkj.gchf.domain.Message" />
		<typeAlias alias="salary" type="com.cdkj.gchf.domain.Salary" />
		
		<typeAlias alias="salaryLog" type="com.cdkj.gchf.domain.SalaryLog" />
		<typeAlias alias="ccontract" type="com.cdkj.gchf.domain.Ccontract" />
		<typeAlias alias="report" type="com.cdkj.gchf.domain.Report" />
		
	</typeAliases>
</configuration>


