<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings> -->
	<typeAliases>
		<typeAlias alias="user" type="com.cdkj.gchf.domain.User" />
		<typeAlias alias="sysMenu" type="com.cdkj.gchf.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.cdkj.gchf.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.cdkj.gchf.domain.SYSMenuRole" />
		<typeAlias alias="sysDict" type="com.cdkj.gchf.domain.SYSDict" />
		
		<typeAlias alias="sysConfig" type="com.cdkj.gchf.domain.SYSConfig" />
		<typeAlias alias="project" type="com.cdkj.gchf.domain.Project" />
		<typeAlias alias="channelBank" type="com.cdkj.gchf.domain.ChannelBank" />
		<typeAlias alias="subbranch" type="com.cdkj.gchf.domain.Subbranch" />
		<typeAlias alias="supervise" type="com.cdkj.gchf.domain.Supervise" />
		
		<typeAlias alias="operatorGuide" type="com.cdkj.gchf.domain.OperatorGuide" />
		<typeAlias alias="corpBasicinfo" type="com.cdkj.gchf.domain.CorpBasicinfo" />
		<typeAlias alias="projectConfig" type="com.cdkj.gchf.domain.ProjectConfig" />
		<typeAlias alias="projectCorpInfo" type="com.cdkj.gchf.domain.ProjectCorpInfo" />
		<typeAlias alias="teamMaster" type="com.cdkj.gchf.domain.TeamMaster" />
		
		<typeAlias alias="projectWorker" type="com.cdkj.gchf.domain.ProjectWorker" />
		<typeAlias alias="projectWorkerEntryExitHistory" type="com.cdkj.gchf.domain.ProjectWorkerEntryExitHistory" />
		<typeAlias alias="workerContract" type="com.cdkj.gchf.domain.WorkerContract" />
		<typeAlias alias="workerAttendance" type="com.cdkj.gchf.domain.WorkerAttendance" />
		<typeAlias alias="payRoll" type="com.cdkj.gchf.domain.PayRoll" />
		
		<typeAlias alias="projectBuilderLicense" type="com.cdkj.gchf.domain.ProjectBuilderLicense" />
		<typeAlias alias="bankCardInfo" type="com.cdkj.gchf.domain.BankCardInfo" />
		<typeAlias alias="payRollDetail" type="com.cdkj.gchf.domain.PayRollDetail" />
		<typeAlias alias="operateLog" type="com.cdkj.gchf.domain.OperateLog" />
		<typeAlias alias="workerInfo" type="com.cdkj.gchf.domain.WorkerInfo" />
		
	</typeAliases>
</configuration>
