<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IOperatorGuideDAO">
	<resultMap id="operatorGuide_DB_Result" type="operatorGuide">
		<result column="code" property="code" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="system_code" property="systemCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_operatorGuide" parameterType="operatorGuide" resultMap="operatorGuide_DB_Result">
		SELECT
		t.code
		,t.title
		,t.content
		,t.system_code
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_operator_guide t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_operatorGuide_count" parameterType="operatorGuide"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_operator_guide t
		<include refid="where_condition" />
	</select>

	<insert id="insert_operatorGuide" parameterType="operatorGuide">
		INSERT INTO
		thf_operator_guide(
		code
		,title
		,content
		,system_code
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{title}
		,#{content}
		,#{systemCode}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_operatorGuide" parameterType="operatorGuide">
		UPDATE thf_operator_guide
		SET
		title = #{title}
		,content = #{content}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<delete id="delete_operatorGuide" parameterType="operatorGuide">
		DELETE FROM thf_operator_guide WHERE code = #{code}
	</delete>
	
</mapper>