<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IPayRollDAO">
	<resultMap id="payRoll_DB_Result" type="payRoll">
		<result column="code" property="code" />
		<result column="pay_roll_code" property="payRollCode" />
		<result column="project_code" property="projectCode" />
		<result column="corp_code" property="corpCode" />
		<result column="corp_name" property="corpName" />
		<result column="team_sys_no" property="teamSysNo" />
		<result column="pay_month" property="payMonth" />
		<result column="delete_status" property="deleteStatus" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND tr.code = #{code}
			</if>
			<if test="payRollCode != null and payRollCode != '' ">
				AND tr.pay_roll_code = #{payRollCode}
			</if>
			<if test="corpName != null and corpName != '' ">
				AND tr.corp_name = #{corpName}
			</if>
			<if test="corpCode != null and corpCode != '' ">
				AND tr.corp_code = #{corpCode}
			</if>
			<if test="teamSysNo != null and teamSysNo != '' ">
				AND tr.team_sys_no = #{teamSysNo}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND tr.project_code = #{projectCode}
			</if>
			<if test="payMonth != null ">
				AND YEAR(tr.pay_month) = YEAR(#{payMonth}) AND MONTH(
				tr.pay_month) = MONTH(#{payMonth})
			</if>
			<if test="deleteStatus != null and deleteStatus != '' ">
				AND tr.delete_status = #{deleteStatus}
			</if>
		</trim>
	</sql>
	<select id="select_payRoll" parameterType="payRoll" resultMap="payRoll_DB_Result">
		SELECT
		tr.code
		,tr.pay_roll_code
		,tr.project_code
		,tr.corp_code
		,tr.corp_name
		,tr.team_sys_no
		,tr.pay_month
		,tr.delete_status
		FROM
		thf_pay_roll tr
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_payRoll_count" parameterType="payRoll"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_pay_roll t
		<include refid="where_condition" />
	</select>

	<insert id="insert_payRoll" parameterType="payRoll">
		INSERT INTO
		thf_pay_roll(
		code
		,pay_roll_code
		,project_code
		,corp_code
		,corp_name
		,team_sys_no
		,pay_month
		,delete_status
		)
		VALUES(
		#{code}
		,#{payRollCode}
		,#{projectCode}
		,#{corpCode}
		,#{corpName}
		,#{teamSysNo}
		,#{payMonth}
		,#{deleteStatus}
		)
	</insert>


	<update id="update_payRoll" parameterType="payRoll">
		UPDATE thf_pay_roll
		SET
		pay_roll_code = #{payRollCode}
		,project_code = #{projectCode}
		,corp_code = #{corpCode}
		,corp_name = #{corpName}
		,team_sys_no =
		#{teamSysNo}
		,pay_month = #{payMonth}
		WHERE code = #{code}
	</update>

	<update id="update_payRoll_status" parameterType="payRoll">
		UPDATE
		thf_pay_roll
		SET
		pay_roll_code = #{payRollCode}
		WHERE code = #{code}
	</update>

	<update id="update_payRoll_delete_status" parameterType="payRoll">
		UPDATE
        thf_pay_roll tr
		SET
		delete_status = #{deleteStatus}
        <include refid="where_condition"/>
	</update>

	<delete id="delete_payRoll" parameterType="payRoll">
		DELETE from
		thf_pay_roll where code = #{code}
	</delete>


</mapper>