<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IPayRollDetailDAO">
	<resultMap id="payRollDetail_DB_Result" type="payRollDetail">
		<result column="code" property="code" />
		<result column="pay_roll_code" property="payRollCode" />
		<result column="project_code" property="projectCode" />
		<result column="worker_name" property="workerName" />
		<result column="idcard_type" property="idcardType" />
		<result column="idcard_number" property="idcardNumber" />
		<result column="days" property="days" />
		<result column="work_hours" property="workHours" />
		<result column="pay_roll_bank_card_number" property="payRollBankCardNumber" />
		<result column="pay_roll_bank_code" property="payRollBankCode" />
		<result column="pay_roll_bank_name" property="payRollBankName" />
		<result column="pay_bank_card_number" property="payBankCardNumber" />
		<result column="pay_bank_code" property="payBankCode" />
		<result column="pay_bank_name" property="payBankName" />
		<result column="total_pay_amount" property="totalPayAmount" />
		<result column="actual_amount" property="actualAmount" />
		<result column="is_back_pay" property="isBackPay" />
        <result column="back_pay_month" property="backPayMonth"/>
		<result column="balance_date" property="balanceDate" />
		<result column="third_pay_roll_code" property="thirdPayRollCode" />
		<result column="upload_status" property="uploadStatus" />
		<result column="delete_status" property="deleteStatus" />
		<result column="pay_month" property="payMonth" />

        <result column="corp_code" property="corpCode"/>
        <result column="corp_name" property="corpName"/>
        <result column="project_code" property="ownerProjectCode"/>

	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="payRollCode != null and payRollCode != '' ">
				AND t.pay_roll_code = #{payRollCode}
			</if>
			<if test="uploadStatus != null and uploadStatus != '' ">
				AND t.upload_status = #{uploadStatus}
			</if>
			<if test="workerName != null and workerName != '' ">
                AND t.worker_name like "%"#{workerName}"%"
			</if>
			<if test="deleteStatus != null and deleteStatus != '' ">
				AND t.delete_status = #{deleteStatus}
			</if>
			<if test="balanceDate != null ">
				AND t.balance_date = #{balanceDate}
			</if>
			<if test="payMonth != null ">
                AND year(t.pay_month) = year(#{payMonth})
                AND
                Month(t.pay_month) = Month(#{payMonth})
            </if>
            <if test="ownerProjectCode != null and ownerProjectCode != '' ">
                AND t.project_code = #{ownerProjectCode}
            </if>


        </trim>
	</sql>

	<sql id="join_condition">
        <if test="(corpName != null and corpName != '' ) or (projectCode != null and  projectCode != '' ) ">
            left join thf_pay_roll pr
            on pr.code = t.pay_roll_code
        </if>
	</sql>

	<insert id="insert_PayRollDetail" parameterType="payRollDetail">
		INSERT INTO
		thf_pay_roll_detail(
		code
		,pay_roll_code
		,worker_name
		,idcard_type
		,idcard_number
		,days

		,work_hours
		,pay_roll_bank_card_number
		,pay_roll_bank_code
		,pay_roll_bank_name
		,pay_bank_card_number
		,pay_bank_code

		,pay_bank_name
		,total_pay_amount
		,actual_amount
		,is_back_pay
		,back_pay_month
		,balance_date
		,third_pay_roll_code
		,upload_status
		,delete_status
		)
		VALUES(
		#{code}
		,#{payRollCode}
		,#{workerName}
		,#{idcardType}
		,#{idcardNumber}
		,#{days}

		,#{workHours}
		,#{payRollBankCardNumber}
		,#{payRollBankCode}
		,#{payRollBankName}
		,#{payBankCardNumber}
		,#{payBankCode}
		,#{payBankName}

		,#{totalPayAmount}
		,#{actualAmount}
		,#{isBackPay}
		,#{backPayMonth}
		,#{balanceDate}
		,#{thirdPayRollCode}
		,#{uploadStatus}
		,#{deleteStatus}
		)
	</insert>

	<delete id="delete_PayRollDetail" parameterType="payRoll">
		DELETE from
		thf_pay_roll_detail WHERE code = #{code}
	</delete>

	<update id="update_PayRollDetail" parameterType="payRoll">
		UPDATE
		thf_pay_roll_detail
		SET
		days = #{days}
		,work_hours = #{workHours}
		,total_pay_amount = #{totalPayAmount}
		,actual_amount = #{actualAmount}
		,is_back_pay = #{isBackPay}
		,back_pay_month = #{backPayMonth}

		,balance_date = #{balanceDate}
		,pay_roll_bank_card_number = #{payRollBankCardNumber}
		,pay_roll_bank_code = #{payRollBankCode}
		,pay_roll_bank_name = #{payRollBankName}

		,pay_bank_card_number = #{payBankCardNumber}
		,pay_bank_code = #{payBankCode}
		,pay_bank_name = #{payBankName}
		,third_pay_roll_code = #{thirdPayRollCode}
		,delete_status = #{deleteStatus}
		WHERE code = #{code}
	</update>

	<update id="update_PayRollDetail_status" parameterType="payRoll">
		UPDATE
		thf_pay_roll_detail
		SET
		upload_status = #{uploadStatus}
		WHERE code = #{code}
	</update>


	<update id="update_PayRollDetail_delete_status" parameterType="payRoll">
		UPDATE
		thf_pay_roll_detail t
		SET
		delete_status = #{deleteStatus}
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="code != null and code != '' ">
                AND t.code = #{code}
            </if>
            <if test="uploadStatus != null and uploadStatus != '' ">
                AND t.upload_status = #{uploadStatus}
            </if>
            <if test="projectCode != null and projectCode != '' ">
                AND t.project_code = #{projectCode}
            </if>
        </trim>

	</update>

	<update id="update_PayRollDetail_payRollCode" parameterType="payRoll">
		UPDATE
		thf_pay_roll_detail
		SET
		pay_roll_code = #{payRollCode}
		WHERE code =
		#{code}
	</update>

	<select id="select_PayRollDetail" parameterType="payRollDetail"
		resultMap="payRollDetail_DB_Result">
		SELECT
		t.code
		,t.pay_roll_code
		,t.worker_name
		,t.idcard_type
		,t.idcard_number
		,t.days
		,t.work_hours

		,t.pay_roll_bank_card_number
		,t.pay_roll_bank_code
		,t.pay_roll_bank_name
		,t.pay_bank_card_number
		,t.pay_bank_code

		,t.pay_bank_name
		,t.total_pay_amount
		,t.actual_amount
		,t.is_back_pay
        ,t.back_pay_month
		,t.balance_date
		,t.third_pay_roll_code
		,t.upload_status

		,t.delete_status
		FROM
		thf_pay_roll_detail t
        <include refid="join_condition"/>
		<include refid="where_condition" />
        <if test="corpCode != null and corpCode != '' ">
            AND pr.corp_code = #{corpCode}
        </if>

        <if test="projectCode != null and projectCode != ''">
            AND pr.project_code = #{projectCode}
        </if>

        <if test="corpName != null and corpName != '' ">
            AND pr.corp_name like "%"#{corpName}"%"
        </if>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_payRollDetail_count" parameterType="payRollDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_pay_roll_detail t
		<include refid="where_condition" />
	</select>
</mapper>