<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProgressDAO">
	<resultMap id="Progress_DB_Result" type="Progress">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="datetime" property="datetime" />
		<result column="description" property="description" />
		<result column="picture" property="picture" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND t.project_code = #{projectCode}
			</if>
			<if test="projectName != null and projectName != '' ">
				AND t.project_name = #{projectName}
			</if>
			<if test="datetime != null and datetime != '' ">
				AND t.datetime = #{datetime}
			</if>
			<if test="description != null and description != '' ">
				AND t.description = #{description}
			</if>
			<if test="picture != null and picture != '' ">
				AND t.picture = #{picture}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="updateDatetime != null and updateDatetime != '' ">
				AND t.update_datetime = #{updateDatetime}
			</if>
			<if test="remark != null and remark != '' ">
				AND t.remark = #{remark}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND t.project_name like "%"#{keyword}"%"
			</if>
		</trim>
	</sql>
	<select id="select_Progress" parameterType="Progress" resultMap="Progress_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.project_name
		,t.datetime
		,t.description
		,t.picture
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_progress t LEFT JOIN thf_department d ON t.project_code = d.code LEFT JOIN 
		thf_company c ON c.code = d.company_code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_Progress_count" parameterType="Progress"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_progress t
		<include refid="where_condition" />
	</select>

	<insert id="insert_Progress" parameterType="Progress">
		INSERT INTO
		thf_progress(
		code
		,project_code
		,project_name
		,datetime
		,description
		,picture
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{projectName}
		,#{datetime}
		,#{description}
		,#{picture}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_Progress" parameterType="Progress">
		UPDATE thf_progress
		SET
		project_code = #{projectCode}
		,project_name = #{projectName}
		,datetime = #{datetime}
		,description = #{description}
		,picture = #{picture}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>