<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProgressDAO">
	<resultMap id="Progress_DB_Result" type="Progress">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="datetime" property="datetime" />
		
		<result column="description" property="description" />
		<result column="picture" property="picture" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
					AND t.code = #{code}
			</if>
			<choose>
				<when test="projectCode != null and projectCode != ''">
					AND t.project_code = #{projectCode}
				</when>
				<when test="projectCodeList != null and projectCodeList.size() > 0 ">
					AND t.project_code IN 
					<foreach collection="projectCodeList" index="index" item="item" open="(" separator="," close=")" >
						#{item}
					</foreach>
				</when>
			</choose>
			
			<if test="companyCode != null and companyCode != ''">
				AND t.company_code = #{companyCode}
			</if>
			<if test="projectName != null and projectName != ''">
				AND t.project_name like "%"#{projectName}"%"
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.project_name like "%"#{keyword}"%" OR t.company_name like "%"#{keyword}"%")
			</if>
		</trim>
	</sql>
	<select id="select_Progress" parameterType="Progress" resultMap="Progress_DB_Result">
		SELECT
		t.code
		,t.company_code
		,t.project_code
		,t.project_name
		,t.datetime
		,t.description
		,t.picture
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_progress t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_Progress_count" parameterType="Progress"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_progress t
		<include refid="where_condition" />
	</select>

	<insert id="insert_Progress" parameterType="Progress">
		INSERT INTO
		thf_progress(
		code
		,company_code
		,project_code
		,project_name
		,datetime
		,description
		,picture
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{projectCode}
		,#{projectName}
		,#{datetime}
		,#{description}
		,#{picture}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_Progress" parameterType="Progress">
		UPDATE thf_progress
		SET
		datetime = #{datetime}
		,description = #{description}
		,picture = #{picture}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>