<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProjectWorkerEntryExitHistoryDAO">
	<resultMap id="projectWorkerEntryExitHistory_DB_Result" type="projectWorkerEntryExitHistory">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="corp_code" property="corpCode" />
		<result column="corp_name" property="corpName" />
		<result column="team_sys_no" property="teamSysNo" />
		<result column="worker_code" property="workerCode" />
		<result column="worker_name" property="workerName" />

		<result column="position" property="position" />
		<result column="join_datetime" property="joinDatetime" />
		<result column="leaving_datetime" property="leavingDatetime" />
		<result column="idcard_type" property="idcardType" />
		<result column="idcard_number" property="idcardNumber" />
		<result column="date" property="date" />

		<result column="type" property="type" />
		<result column="voucher_url" property="voucherUrl" />
		<result column="upload_status" property="uploadStatus" />
		<result column="delete_status" property="deleteStatus" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="idcardNumber != null and idcardNumber != '' ">
				AND t.idcard_number = #{idcardNumber}
			</if>
			<if test="workerName != null and workerName != '' ">
				AND t.worker_name LIKE CONCAT('%', #{workerName}, '%')
			</if>
			<if test=" workerCode != null and workerCode != '' ">
				AND t.worker_code = #{workerCode}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND t.project_code = #{projectCode}
			</if>
			<if test="uploadStatus != null and uploadStatus != '' ">
				AND t.upload_status = #{uploadStatus}
			</if>
			<if test="deleteStatus != null and deleteStatus != '' ">
				AND t.delete_status = #{deleteStatus}
			</if>
			<if test="type != null ">
				AND t.type = #{type}
			</if>
			<if test="deleteStatus != null and deleteStatus != '' ">
				AND t.delete_status = #{deleteStatus}
			</if>
		</trim>
	</sql>


	<insert id="insert_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory">
		INSERT INTO
		thf_project_worker_entry_exit_history(
		code
		,project_code
		,corp_code
		,corp_name
		,team_sys_no
		,worker_code
		,worker_name

		,position
		,join_datetime
		,leaving_datetime
		,idcard_type
		,idcard_number
		,date
		,type

		,voucher_url
		,upload_status
		,delete_status
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{corpCode}
		,#{corpName}
		,#{teamSysNo}
		,#{workerCode}

		,#{workerName}
		,#{position}
		,#{joinDatetime}
		,#{leavingDatetime}
		,#{idcardType}
		,#{idcardNumber}

		,#{date}
		,#{type}
		,#{voucherUrl}
		,#{uploadStatus}
		,#{deleteStatus}
		)
	</insert>

	<delete id="delete_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory">
		DELETE from thf_project_worker_entry_exit_history WHERE code = #{code}
	</delete>

	<update id="update_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory">
		UPDATE thf_project_worker_entry_exit_history
		SET
		date = #{date}
		,type =
		#{type}
		,voucher_url = #{voucherUrl}
		WHERE code = #{code}
	</update>

	<update id="update_projectWorkerEntryExitHistory_status"
		parameterType="projectWorkerEntryExitHistory">
		UPDATE thf_project_worker_entry_exit_history
		SET
		upload_status =
		#{uploadStatus}
		<include refid="where_condition"></include>
	</update>

	<select id="select_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory"
		resultMap="projectWorkerEntryExitHistory_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.corp_code
		,t.corp_name
		,t.team_sys_no
		,t.worker_code
		,t.worker_name

		,t.position
		,t.join_datetime
		,t.leaving_datetime
		,t.idcard_type
		,t.idcard_number
		,t.date

		,t.type
		,t.voucher_url
		,t.upload_status
		,t.deleteStatus
		FROM
		thf_project_worker_entry_exit_history t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_projectWorkerEntryExitHistory_count"
		parameterType="projectWorkerEntryExitHistory" resultType="java.lang.Long">
		SELECT count(1) FROM thf_project_worker_entry_exit_history t
		<include refid="where_condition" />
	</select>

</mapper>