<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProjectDAO">
	<resultMap id="project_DB_Result" type="project">
		<result column="code" property="code" />
		<result column="contractor_corp_code" property="contractorCorpCode" />
		<result column="contractor_corp_name" property="contractorCorpName" />
		<result column="name" property="name" />
		<result column="description" property="description" />

		<result column="category" property="category" />
		<result column="build_corp_name" property="buildCorpName" />
		<result column="build_corp_code" property="buildCorpCode" />
		<result column="build_plan_num" property="buildPlanNum" />
		<result column="prj_plan_num" property="prjPlanNum" />

		<result column="area_code" property="areaCode" />
		<result column="invest" property="invest" />
		<result column="building_area" property="buildingArea" />
		<result column="building_length" property="buildingLength" />
		<result column="start_date" property="startDate" />

		<result column="complete_date" property="completeDate" />
		<result column="link_man" property="linkMan" />
		<result column="link_phone" property="linkPhone" />
		<result column="prj_status" property="prjStatus" />
		<result column="lng" property="lng" />

		<result column="lat" property="lat" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="approval_num" property="approvalNum" />
		<result column="approval_level_num" property="approvalLevelNum" />
		<result column="prj_size" property="prjSize" />

		<result column="property_num" property="propertyNum" />
		<result column="prj_num" property="prjNum" />
		<result column="nation_num" property="nationNum" />
		<result column="attendance_starttime" property="attendanceStarttime" />
		<result column="attendance_endtime" property="attendanceEndtime" />

		<result column="pay_roll_create_datetime" property="payRollCreateDatetime" />
		<result column="pay_roll_datetime" property="payRollDatetime" />
		<result column="pay_roll_delay_days" property="payRollDelayDays" />
		<result column="charge_email" property="chargeEmail" />
		<result column="third_party_project_code" property="thirdPartyProjectCode" />
		<result column="secretStatus" property="secret_status" />
	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="contractorCorpCode != null and contractorCorpCode != '' ">
				AND t.contractor_corp_code = #{contractorCorpCode}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="fullName != null and fullName != '' ">
				AND t.name = #{fullName}
			</if>
			<if test="category != null and category != '' ">
				AND t.category = #{category}
			</if>
			<if test="prjStatus != null and prjStatus != '' ">
				AND t.prj_status = #{prjStatus}
			</if>
			<if test="secretStatus != null and secretStatus != '' ">
				AND t.secret_status = #{secretStatus}
			</if>
		</trim>
	</sql>

	<select id="select_project" parameterType="project" resultMap="project_DB_Result">
		SELECT
		t.code
		,t.contractor_corp_code
		,t.contractor_corp_name
		,t.name
		,t.description

		,t.category
		,t.build_corp_name
		,t.build_corp_code
		,t.build_plan_num
		,t.prj_plan_num

		,t.area_code
		,t.invest
		,t.building_area
		,t.building_length
		,t.start_date

		,t.complete_date
		,t.link_man
		,t.link_phone
		,t.prj_status
		,t.lng

		,t.lat
		,t.address
		,t.approval_num
		,t.approval_level_num
		,t.prj_size

		,t.property_num
		,t.prj_num
		,t.nation_num
		,t.attendance_starttime
		,t.attendance_endtime

		,t.pay_roll_create_datetime
		,t.pay_roll_datetime
		,t.pay_roll_delay_days
		,t.charge_email
		,t.third_party_project_code
		,t.secret_status
		FROM
		thf_project t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_project_count" parameterType="project"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_project t
		<include refid="where_condition" />
	</select>

	<insert id="insert_project" parameterType="project">
		INSERT INTO
		thf_project(
		code
		,contractor_corp_code
		,contractor_corp_name
		,name
		,description

		,category
		,build_corp_name
		,build_corp_code
		,build_plan_num
		,prj_plan_num

		,area_code
		,invest
		,building_area
		,building_length
		,start_date

		,complete_date
		,link_man
		,link_phone
		,prj_status
		,lng

		,lat
		,address
		,approval_num
		,approval_level_num
		,prj_size

		,property_num
		,prj_num
		,nation_num
		,attendance_starttime
		,attendance_endtime

		,pay_roll_create_datetime
		,pay_roll_datetime
		,pay_roll_delay_days
		,charge_email
		,third_party_project_code
		,secret_status
		)
		VALUES(
		#{code}
		,#{contractorCorpCode}
		,#{contractorCorpName}
		,#{name}
		,#{description}

		,#{category}
		,#{buildCorpName}
		,#{buildCorpCode}
		,#{buildPlanNum}
		,#{prjPlanNum}

		,#{areaCode}
		,#{invest}
		,#{buildingArea}
		,#{buildingLength}
		,#{startDate}

		,#{completeDate}
		,#{linkMan}
		,#{linkPhone}
		,#{prjStatus}
		,#{lng}

		,#{lat}
		,#{address}
		,#{approvalNum}
		,#{approvalLevelNum}
		,#{prjSize}

		,#{propertyNum}
		,#{prjNum}
		,#{nationNum}
		,#{attendanceStarttime}
		,#{attendanceEndtime}

		,#{payRollCreateDatetime}
		,#{payRollDatetime}
		,#{payRollDelayDays}
		,#{chargeEmail}
		,#{thirdPartyProjectCode}
		,#{secretStatus}
		)
	</insert>

	<update id="update_project" parameterType="project">
		UPDATE thf_project
		SET
		contractor_corp_code = #{contractorCorpCode}
		,contractor_corp_name =
		#{contractorCorpName}
		,name = #{name}
		,description = #{description}
		,category = #{category}

		,build_corp_name = #{buildCorpName}
		,build_corp_code = #{buildCorpCode}
		,build_plan_num
		= #{buildPlanNum}
		,prj_plan_num = #{prjPlanNum}
		,area_code = #{areaCode}

		,invest = #{invest}
		,building_area = #{buildingArea}
		,building_length =
		#{buildingLength}
		,start_date = #{startDate}
		,complete_date =
		#{completeDate}

		,link_man = #{linkMan}
		,link_phone = #{linkPhone}
		,prj_status = #{prjStatus}
		,lng
		= #{lng}
		,lat = #{lat}

		,address = #{address}
		,approval_num = #{approvalNum}
		,approval_level_num =
		#{approvalLevelNum}
		,prj_size = #{prjSize}
		,property_num =
		#{propertyNum}

		,prj_num = #{prjNum}
		,nation_num = #{nationNum}
		,attendance_starttime =
		#{attendanceStarttime}
		,attendance_endtime = #{attendanceEndtime}

		,pay_roll_create_datetime = #{payRollCreateDatetime}
		,pay_roll_datetime = #{payRollDatetime}
		,pay_roll_delay_days =
		#{payRollDelayDays}
		,charge_email = #{chargeEmail}
		,third_party_project_code = #{thirdPartyProjectCode}
		,secret_status =
		#{secretStatus}
		WHERE code = #{code}
	</update>

	<update id="update_projectSecretStatus" parameterType="project">
		UPDATE
		thf_project
		SET
		secret_status = #{secretStatus}
		WHERE code = #{code}
	</update>

</mapper>