<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProjectDAO">
	<resultMap id="project_DB_Result" type="project">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="charge_user" property="chargeUser" />
		<result column="charge_mobile" property="chargeMobile" />
		<result column="bank_crand_number" property="bankCrandNumber" />
		<result column="bank_name" property="bankName" />
		<result column="subbranch" property="subbranch" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="salary_datetime" property="salaryDatetime" />
		<result column="status" property="status" />
		<result column="auditor" property="auditor" />
		<result column="audit_datetime" property="auditDatetime" />
		<result column="audit_note" property="auditNote" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="chargeUser != null and chargeUser != '' ">
				AND t.charge_user = #{chargeUser}
			</if>
			<if test="chargeMobile != null and chargeMobile != '' ">
				AND t.charge_mobile = #{chargeMobile}
			</if>
			<if test="startDatetime != null and startDatetime != '' ">
				AND t.start_datetime = #{startDatetime}
			</if>
			<if test="endDatetime != null and endDatetime != '' ">
				AND t.end_datetime = #{endDatetime}
			</if>
			<if test="longitude != null and longitude != '' ">
				AND t.longitude = #{longitude}
			</if>
			<if test="latitude != null and latitude != '' ">
				AND t.latitude = #{latitude}
			</if>
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="area != null and area != '' ">
				AND t.area = #{area}
			</if>
			<if test="address != null and address != '' ">
				AND t.address = #{address}
			</if>
			<if test="salaryDatetime != null and salaryDatetime != '' ">
				AND t.salary_datetime = #{salaryDatetime}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="auditor != null and auditor != '' ">
				AND t.auditor = #{auditor}
			</if>
			<if test="auditDatetime != null and auditDatetime != '' ">
				AND t.audit_datetime = #{auditDatetime}
			</if>
			<if test="auditNote != null and auditNote != '' ">
				AND t.audit_note = #{auditNote}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="updateDatetime != null and updateDatetime != '' ">
				AND t.update_datetime = #{updateDatetime}
			</if>
			<if test="remark != null and remark != '' ">
				AND t.remark = #{remark}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND t.name like "%"#{keyword}"%" OR  t.charge_mobile like "%"#{keyword}"%"
			</if>
		</trim>
	</sql>
	
	<select id="select_project" parameterType="project" resultMap="project_DB_Result">
		SELECT
		t.code
		,t.name
		,t.charge_user
		,t.charge_mobile
		,t.bank_crand_number
		,t.bank_name
		,t.subbranch
		,t.start_datetime
		,t.end_datetime
		,t.longitude
		,t.latitude
		,t.province
		,t.city
		,t.area
		,t.address
		,t.salary_datetime
		,t.status
		,t.auditor
		,t.audit_datetime
		,t.audit_note
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_project t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_project_count" parameterType="project"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_project t
		<include refid="where_condition" />
	</select>
	
	
	<insert id="insert_project" parameterType="project">
		INSERT INTO
		thf_project(
		code
		,name
		,charge_user
		,charge_mobile
		,bank_crand_number
		,bank_name
		,subbranch
		,start_datetime
		,longitude
		,latitude
		,province
		,city
		,area
		,address
		,salary_datetime
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{chargeUser}
		,#{charge_mobile}
		,#{bankCrandNumber}
		,#{bankName}
		,#{subbranch}
		,#{startDatetime}
		,#{longitude}
		,#{latitude}
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		,#{salaryDatetime}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_project" parameterType="project">
		UPDATE thf_project
		SET
		name = #{name}
		,charge_user = #{chargeUser}  
		,charge_mobile = #{chargeMobile}
		,end_datetime = #{endDatetime}
		,longitude = #{longitude}
		,latitude = #{latitude}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,salary_datetime = #{salaryDatetime}
		,updater = #{updater}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="audit_project" parameterType="project">
		UPDATE thf_project
		SET
		status = #{status}
		,auditor = #{auditor}
		,audit_datetime = #{auditDatetime}
		,audit_note = #{auditNote}
		WHERE code = #{code}
	</update>
</mapper>