<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProjectWorkerDAO">
	<resultMap id="projectWorker_DB_Result" type="projectWorker">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="corp_code" property="corpCode" />
		<result column="corp_name" property="corpName" />

		<result column="team_sys_no" property="teamSysNo" />
		<result column="team_name" property="teamName" />
		<result column="worker_code" property="workerCode" />
		<result column="worker_name" property="workerName" />
		<result column="worker_mobile" property="workerMobile" />
		<result column="is_team_leader" property="isTeamLeader" />

		<result column="idcard_type" property="idcardType" />
		<result column="idcard_number" property="idcardNumber" />
		<result column="work_type" property="workType" />
		<result column="work_role" property="workRole" />
		<result column="type" property="type" />
		<result column="entry_time" property="entryTime" />

		<result column="exit_time" property="exitTime" />
		<result column="entry_attachment_url" property="entryAttachmentUrl" />
		<result column="exit_attachment_url" property="exitAttachmentUrl" />
		<result column="issue_card_date" property="issueCardDate" />
		<result column="issue_card_pic_url" property="issueCardPicUrl" />

		<result column="card_number" property="cardNumber" />
		<result column="pay_roll_bank_card_number" property="payRollBankCardNumber" />
		<result column="pay_roll_bank_name" property="payRollBankName" />
		<result column="pay_roll_top_bank_name" property="payRollTopBankName" />
		<result column="bank_link_number" property="bankLinkNumber" />

		<result column="pay_roll_top_bank_code" property="payRollTopBankCode" />
		<result column="has_contract" property="hasContract" />
		<result column="has_buy_insurance" property="hasBuyInsurance" />
		<result column="position" property="position" />
		<result column="salary" property="salary" />

		<result column="cut_amount" property="cutAmount" />
		<result column="status" property="status" />
		<result column="salary_status" property="salaryStatus" />
		<result column="work_date" property="workDate" />
		<result column="join_datetime" property="joinDatetime" />
		<result column="leaving_datetime" property="leavingDatetime" />

		<result column="start_datetime" property="startDatetime" />
		<result column="last_leaving_days" property="lastLeavingDays" />
		<result column="end_datetime" property="endDatetime" />
		<result column="total_leaving_days" property="totalLeavingDays" />
		<result column="updater" property="updater" />

		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="upload_status" property="uploadStatus" />
		<result column="delete_status" property="deleteStatus" />
	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND t.project_code = #{projectCode}
			</if>
			<if test="corpCode != null and corpCode != '' ">
				AND t.corp_code = #{corpCode}
			</if>
			<if test="teamSysNo != null and teamSysNo != '' ">
				AND t.team_sys_no = #{teamSysNo}
			</if>
			<if test="workerCode != null and workerCode != '' ">
				AND t.worker_code = #{workerCode}
			</if>
			<if test="idcardNumber != null and idcardNumber != '' ">
				AND t.idcard_number = #{idcardNumber}
			</if>
			<if test="idcardType != null and idcardType != '' ">
				AND t.idcard_type = #{idcardType}
			</if>
			<if test="workerName != null and workerName != '' ">
				AND t.worker_name LIKE CONCAT('%',#{workerName},'%')
			</if>
			<if test="uploadStatus != null and uploadStatus != '' ">
				AND t.upload_status = #{uploadStatus}
			</if>
		</trim>
	</sql>



	<insert id="insert_projectWorker" parameterType="projectWorker">
		INSERT INTO
		thf_project_worker(
		code
		,project_code
		,project_name
		,corp_code
		,corp_name

		,team_sys_no
		,team_name
		,worker_code
		,worker_name
		,worker_mobile

		,is_team_leader
		,idcard_type
		,idcard_number
		,work_type
		,work_role

		,type
		,entry_time
		,exit_time
		,entry_attachment_url
		,exit_attachment_url

		,issue_card_date
		,issue_card_pic_url
		,card_number
		,pay_roll_bank_card_number
		,pay_roll_bank_name

		,pay_roll_top_bank_name
		,bank_link_number
		,pay_roll_top_bank_code
		,has_contract
		,has_buy_insurance

		,position
		,salary
		,cut_amount
		,status
		,salary_status
		,join_datetime

		,leaving_datetime
		,start_datetime
		,last_leaving_days
		,end_datetime
		,total_leaving_days

		,updater
		,update_datetime
		,remark
		,upload_status
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{projectName}
		,#{corpCode}
		,#{corpName}
		,#{teamSysNo}

		,#{teamName}
		,#{workerCode}
		,#{workerName}
		,#{workerMobile}
		,#{isTeamLeader}
		,#{idcardType}
		,#{idcardNumber}

		,#{workType}
		,#{workRole}
		,#{type}
		,#{entryTime}
		,#{exitTime}
		,#{entryAttachmentUrl}

		,#{exitAttachmentUrl}
		,#{issueCardDate}
		,#{issueCardPicUrl}
		,#{cardNumber}
		,#{payRollBankCardNumber}

		,#{payRollBankName}
		,#{payRollTopBankName}
		,#{bankLinkNumber}
		,#{payRollTopBankCode}
		,#{hasContract}

		,#{hasBuyInsurance}
		,#{position}
		,#{salary}
		,#{cutAmount}
		,#{status}

		,#{salaryStatus}
		,#{joinDatetime}
		,#{leavingDatetime}
		,#{startDatetime}
		,#{lastLeavingDays}

		,#{endDatetime}
		,#{totalLeavingDays}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{uploadStatus}
		)
	</insert>
	<delete id="delete_projectWorker" parameterType="projectWorker">
		delete from
		thf_project_worker WHERE code = #{code}
	</delete>
	<update id="update_projectWorker_status" parameterType="projectWorker">
		UPDATE
		thf_project_worker SET upload_status = #{uploadStatus}
		WHERE code =
		#{code}
	</update>
	<update id="update_projectWorker" parameterType="projectWorker">
		UPDATE
		thf_project_worker
		SET
		is_team_leader = #{isTeamLeader}
		,work_type =
		#{workType}
		,work_role = #{workRole}
		,issue_card_date =
		#{issueCardDate}
		,issue_card_pic_url = #{issueCardPicUrl}
		,card_number =
		#{cardNumber}
		,pay_roll_bank_card_number = #{payRollBankCardNumber}

		,pay_roll_bank_name = #{payRollBankName}
		,pay_roll_top_bank_name =
		#{payRollTopBankName}
		,bank_link_number = #{bankLinkNumber}
		,pay_roll_top_bank_code = #{payRollTopBankCode}
		,has_buy_insurance =
		#{hasBuyInsurance}
		,join_datetime = #{joinDatetime}
		WHERE code = #{code}
	</update>
	<select id="select_projectWorker" parameterType="projectWorker"
		resultMap="projectWorker_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.project_name
		,t.corp_code
		,t.corp_name

		,t.team_sys_no
		,t.team_name
		,t.worker_code
		,t.worker_name
		,t.worker_mobile

		,t.is_team_leader
		,t.idcard_type
		,t.idcard_number
		,t.work_type
		,t.work_role

		,t.type
		,t.entry_time
		,t.exit_time
		,t.entry_attachment_url
		,t.exit_attachment_url

		,t.issue_card_date
		,t.issue_card_pic_url
		,t.card_number
		,t.pay_roll_bank_card_number
		,t.pay_roll_bank_name

		,t.pay_roll_top_bank_name
		,t.bank_link_number
		,t.pay_roll_top_bank_code
		,t.has_contract
		,t.has_buy_insurance

		,t.position
		,t.salary
		,t.cut_amount
		,t.status
		,t.salary_status

		,t.join_datetime
		,t.leaving_datetime
		,t.start_datetime
		,t.last_leaving_days
		,t.end_datetime

		,t.total_leaving_days
		,t.updater
		,t.update_datetime
		,t.remark
		,t.upload_status
		FROM
		thf_project_worker t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_projectWorker_count" parameterType="projectWorker"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_project_worker t
		<include refid="where_condition" />
	</select>

</mapper>