<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProjectWorkerEntryExitHistoryDAO">
	<resultMap id="projectWorkerEntryExitHistory_DB_Result" type="projectWorkerEntryExitHistory">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="corp_code" property="corpCode" />
		<result column="corp_name" property="corpName" />
		<result column="team_sys_no" property="teamSysNo" />
		<result column="worker_code" property="workerCode" />
		<result column="worker_name" property="workerName" />

		<result column="position" property="position" />
		<result column="idcard_type" property="idcardType" />
		<result column="idcard_number" property="idcardNumber" />
		<result column="date" property="date" />

		<result column="type" property="type" />
		<result column="voucher_url" property="voucherUrl" />
		<result column="upload_status" property="uploadStatus" />
		<result column="delete_status" property="deleteStatus" />
		<result column="team_name" property="teamName" />

	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="corpCode != null and corpCode != '' ">
				AND t.corp_code = #{corpCode}
			</if>
			<if test="corpName != null and corpName != '' ">
				AND t.corp_name like "%"#{corpName}"%"
			</if>
			<if test="idcardNumber != null and idcardNumber != '' ">
				AND t.idcard_number = #{idcardNumber}
			</if>
			<if test="workerName != null and workerName != '' ">
				AND t.worker_name LIKE CONCAT('%', #{workerName}, '%')
			</if>
			<if test="workerCode != null and workerCode != '' ">
				AND t.worker_code = #{workerCode}
			</if>
			<if test="projectCode != null and projectCode != '' ">
				AND t.project_code = #{projectCode}
			</if>
			<if test="uploadStatus != null and uploadStatus != '' ">
				AND t.upload_status = #{uploadStatus}
			</if>
			<if test="type != null ">
				AND t.type = #{type}
			</if>
			<if test="deleteStatus != null and deleteStatus != '' ">
				AND t.delete_status = #{deleteStatus}
			</if>

			<if test="teamSysNo != null and teamSysNo != '' ">
				AND t.team_sys_no = #{teamSysNo}
			</if>

		</trim>
	</sql>
	<sql id="join_condition">
		<if test="teamName != null and teamName != '' ">
			left join thf_project_worker pw on pw.code =
			t.worker_code
		</if>
	</sql>


	<insert id="insert_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory">
		INSERT INTO
		thf_project_worker_entry_exit_history(
		code
		,project_code
		,corp_code
		,corp_name
		,team_sys_no
		,worker_code
		,worker_name

		,position
		,idcard_type
		,idcard_number
		,date
		,type

		,voucher_url
		,upload_status
		,delete_status
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{corpCode}
		,#{corpName}
		,#{teamSysNo}
		,#{workerCode}

		,#{workerName}
		,#{position}
		,#{idcardType}
		,#{idcardNumber}

		,#{date}
		,#{type}
		,#{voucherUrl}
		,#{uploadStatus}
		,#{deleteStatus}
		)
	</insert>

	<insert id="batch_insert">
		INSERT INTO
		thf_project_worker_entry_exit_history(
		code
		,project_code
		,corp_code
		,corp_name
		,team_sys_no
		,worker_code
		,worker_name

		,position
		,idcard_type
		,idcard_number
		,date
		,type

		,voucher_url
		,upload_status
		,delete_status
		)
		VALUES
		<foreach collection="list" index="index" open="" item="projectWorkerEntryExitHistory" close="" separator=",">
			(
			#{projectWorkerEntryExitHistory.code}
			,#{projectWorkerEntryExitHistory.projectCode}
			,#{projectWorkerEntryExitHistory.corpCode}
			,#{projectWorkerEntryExitHistory.corpName}
			,#{projectWorkerEntryExitHistory.teamSysNo}
			,#{projectWorkerEntryExitHistory.workerCode}

			,#{projectWorkerEntryExitHistory.workerName}
			,#{projectWorkerEntryExitHistory.position}
			,#{projectWorkerEntryExitHistory.idcardType}
			,#{projectWorkerEntryExitHistory.idcardNumber}

			,#{projectWorkerEntryExitHistory.date}
			,#{projectWorkerEntryExitHistory.type}
			,#{projectWorkerEntryExitHistory.voucherUrl}
			,#{projectWorkerEntryExitHistory.uploadStatus}
			,#{projectWorkerEntryExitHistory.deleteStatus}
			)
		</foreach>


	</insert>

	<delete id="delete_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory">
		DELETE from thf_project_worker_entry_exit_history WHERE code = #{code}
	</delete>


	<update id="update_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory">
		UPDATE thf_project_worker_entry_exit_history
		SET
		date = #{date}
		,type =
		#{type}
		,voucher_url = #{voucherUrl}
		WHERE code = #{code}
	</update>

	<update id="update_projectWorkerEntryExitHistory_status"
		parameterType="projectWorkerEntryExitHistory">
		UPDATE thf_project_worker_entry_exit_history
		SET
		upload_status = #{uploadStatus}
		WHERE code = #{code}
	</update>

	<update id="update_projectWorker_EntryExitHistory_delete_status"
		parameterType="projectWorkerEntryExitHistory">
		UPDATE thf_project_worker_entry_exit_history t
		SET
		delete_status = #{deleteStatus}
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="code != null and code != '' ">
                t.code = #{code}
            </if>

        </trim>
	</update>

	<select id="select_projectWorkerEntryExitHistory" parameterType="projectWorkerEntryExitHistory"
		resultMap="projectWorkerEntryExitHistory_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.corp_code
		,t.corp_name
		,t.team_sys_no
		,t.worker_code
		,t.worker_name

		,t.position
		,t.idcard_type
		,t.idcard_number
		,t.date

		,t.type
		,t.voucher_url
		,t.upload_status
		,t.delete_status
		FROM
		thf_project_worker_entry_exit_history t

		<include refid="join_condition" />
		<include refid="where_condition" />
		<if test="teamName != null and teamName != '' ">
			AND pw.team_name like "%"#{teamName}"%"
		</if>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_projectWorkerEntryExitHistory_count"
		parameterType="projectWorkerEntryExitHistory" resultType="java.lang.Long">
		SELECT count(1) FROM thf_project_worker_entry_exit_history t
		<include refid="where_condition" />
	</select>

	<select id="selectProjectWorkerEntryHistoryLeavingCount30Day" resultType="int"
		parameterType="java.lang.String">
		SELECT count(1)
		from thf_project_worker_entry_exit_history
		where type = '0'
			and project_code = (SELECT organization_code
													from thf_user
													where user_id = #{0})
			and date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`date`)
			and delete_status = 0
	</select>
	
	<select id="selectProjectWorkerEntryHistoryComingCount30Day" resultType="int"
		parameterType="java.lang.String">
		SELECT IFNULL(COUNT(1), 0)
		from thf_project_worker_entry_exit_history
		where project_code =
					(SELECT organization_code from thf_user where user_id = #{0})
			and type = '1'
			and date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(`date`)
			and delete_status = 0
	</select>

</mapper>