<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IProjectDAO">
	<resultMap id="project_DB_Result" type="project">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="company_code" property="companyCode" />
		<result column="charge_user" property="chargeUser" />
		
		<result column="charge_mobile" property="chargeMobile" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="attendance_starttime" property="attendanceStarttime" />
		<result column="attendance_endtime" property="attendanceEndtime" />
		
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		
		<result column="address" property="address" />
		<result column="salary_create_datetime" property="salaryCreateDatetime" />
		<result column="salary_datetime" property="salaryDatetime" />
		<result column="status" property="status" />
		<result column="approver" property="approver" />
	
		<result column="approve_datetime" property="approveDatetime" />
		<result column="approve_note" property="approveNote" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<choose>
				<when test="companyCode != null and companyCode != '' ">
					AND t.company_code = #{companyCode}
				</when>
				<when test="projectCodeList != null and projectCodeList.size() > 0">
					AND t.code IN 
					<foreach collection="projectCodeList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			
			
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="area != null and area != '' ">
				AND t.area = #{area}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="chargeUser != null and chargeUser != '' ">
				AND t.charge_user = #{chargeUser}
			</if>
			<if test="chargeMobile != null and chargeMobile != '' ">
				AND t.charge_mobile = #{chargeMobile}
			</if>
			<if test="startDatetime != null and startDatetime != '' ">
				AND t.start_datetime = #{startDatetime}
			</if>
			<if test="endDatetime != null and endDatetime != '' ">
				AND t.end_datetime = #{endDatetime}
			</if>
			<if test="longitude != null and longitude != '' ">
				AND t.longitude = #{longitude}
			</if>
			<if test="latitude != null and latitude != '' ">
				AND t.latitude = #{latitude}
			</if>
			
			<if test="salaryDatetime != null and salaryDatetime != '' ">
				AND t.salary_datetime = #{salaryDatetime}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.name like "%"#{keyword}"%" OR  t.charge_mobile like "%"#{keyword}"%")
			</if>
		</trim>
	</sql>
	
	<select id="select_project" parameterType="project" resultMap="project_DB_Result">
		SELECT
		t.code
		,t.name
		,t.company_code
		,t.charge_user
		
		,t.charge_mobile
		,t.start_datetime
		,t.end_datetime
		,t.attendance_starttime
		,t.attendance_endtime
		
		,t.longitude
		,t.latitude
		,t.province
		,t.city
		,t.area
		
		,t.address
		,t.salary_create_datetime
		,t.salary_datetime
		,t.status
		,t.approver
		
		,t.approve_datetime
		,t.approve_note
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_project t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_project_count" parameterType="project"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_project t
		<include refid="where_condition" />
	</select>
	
	
	<insert id="insert_project" parameterType="project">
		INSERT INTO
		thf_project(
		code
		,name
		,company_code
		,charge_user
		
		,charge_mobile
		,start_datetime
		,attendance_starttime
		,attendance_endtime
		,longitude
		
		,latitude
		,province
		,city
		,area
		,address
		
		,salary_create_datetime
		,salary_datetime
		,status
		,updater
		,update_datetime
		
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{companyCode}
		,#{chargeUser}
		
		,#{chargeMobile}
		,#{startDatetime}
		,#{attendanceStarttime}
		,#{attendanceEndtime}
		,#{longitude}
		
		,#{latitude}
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		
		,#{salaryCreateDatetime}
		,#{salaryDatetime}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		
		,#{remark}
		)
	</insert>
	
	<update id="update_project" parameterType="project">
		UPDATE thf_project
		SET
		name = #{name}
		,charge_user = #{chargeUser}  
		,charge_mobile = #{chargeMobile}
		,start_datetime = #{startDatetime}
		,longitude = #{longitude}
		
		,latitude = #{latitude}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		
		,salary_datetime = #{salaryDatetime}
		,salary_create_datetime = #{salaryCreateDatetime}
		,attendance_starttime = #{attendanceStarttime}
		,attendance_endtime = #{attendanceEndtime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="approve_project" parameterType="project">
		UPDATE thf_project
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		WHERE code = #{code}
	</update>
	
	<update id="to_aprrove" parameterType="project">
		UPDATE thf_project
		SET
		name = #{name}
		,charge_user = #{chargeUser}  
		,charge_mobile = #{chargeMobile}
		,start_datetime = #{startDatetime}
		,longitude = #{longitude}
		
		,latitude = #{latitude}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		
		,salary_datetime = #{salaryDatetime}
		,salary_create_datetime = #{salaryCreateDatetime}
		,attendance_starttime = #{attendanceStarttime}
		,attendance_endtime = #{attendanceEndtime}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="project_end" parameterType="project">
		UPDATE thf_project
		SET
		status = #{status}
		,end_datetime = #{endDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="to_building" parameterType="project">
		UPDATE thf_project
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="stop_project" parameterType="project">
		UPDATE thf_project
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	
	<update id="restart_project" parameterType="project">
		UPDATE thf_project
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>