<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.ISalaryLogDAO">
	<resultMap id="salaryLog_DB_Result" type="salaryLog">
		<result column="code" property="code" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="staff_code" property="staffCode" />

		<result column="salary_code" property="salaryCode" />
		<result column="type" property="type" />
		<result column="handler" property="handler" />
		<result column="handle_datetime" property="handleDatetime" />
		<result column="handle_note" property="handleNote" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<choose>
				<when test="projectCode != null and projectCode != '' ">
					AND t.project_code = #{projectCode}
				</when>
				<when test="projectCodeList != null and projectCodeList.size() > 0 ">
					AND t.project_code IN
					<foreach collection="projectCodeList" index="index" item="item"
						open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			<if test="projectName != null and projectName != '' ">
				AND t.project_name like "%"#{projectName}"%"
			</if>

			<if test="salaryCode != null and salaryCode != '' ">
				AND t.salary_code = #{salaryCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="handler != null and handler != '' ">
				AND t.handler = #{handler}
			</if>
		</trim>
	</sql>

	<select id="select_salaryLog" parameterType="salaryLog"
		resultMap="salaryLog_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.project_name
		,t.staff_code
		,t.salary_code
		,t.type
		,t.handler
		,t.handle_datetime
		,t.handle_note
		FROM
		thf_salary_log t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_salaryLog_count" parameterType="salaryLog"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_salary_log t
		<include refid="where_condition" />
	</select>

	<insert id="insert_salaryLog" parameterType="salaryLog">
		INSERT INTO
		thf_salary_log(
		code
		,project_code
		,project_name
		,staff_code

		,salary_code
		,type
		,handler
		,handle_datetime
		,handle_note
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{projectName}
		,#{staffCode}

		,#{salaryCode}
		,#{type}
		,#{handler}
		,#{handleDatetime}
		,#{handleNote}
		)
	</insert>

	<update id="update_salaryLog" parameterType="salaryLog">
		UPDATE
		thf_salary_log
		SET
		staff_code = #{staffCode}
		,project_code =
		#{projectCode}
		,salary_code = #{salaryCode}
		,type = #{type}
		,handler =
		#{handler}
		,handle_datetime = #{handleDatetime}
		,handle_note =
		#{handleNote}
		WHERE code = #{code}
	</update>

	<update id="deal_with" parameterType="salaryLog">
		UPDATE
		thf_salary_log
		SET
		handler = #{handler}
		,handle_datetime = #{handleDatetime}
		,handle_note = #{handleNote}
		WHERE code = #{code}
	</update>

</mapper>