<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.ISalaryLogDAO">
	<resultMap id="salaryLog_DB_Result" type="salaryLog">
		<result column="code" property="code" />
		<result column="staff_code" property="staffCode" />
		<result column="salary_code" property="salaryCode" />
		<result column="type" property="type" />
		<result column="handler" property="handler" />
		
		<result column="handle_datetime" property="handleDatetime" />
		<result column="handle_note" property="handleNote" />
		<result column="handle_pic" property="handlePic" />
		
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="salaryCode != null and salaryCode != '' ">
				AND t.salary_code = #{salaryCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="handler != null and handler != '' ">
				AND t.handler = #{handler}
			</if>
		</trim>
	</sql>

	<select id="select_salaryLog" parameterType="salaryLog"
		resultMap="salaryLog_DB_Result">
		SELECT
		t.code
		,t.staff_code
		,t.salary_code
		,t.type
		,t.handler
		,t.handle_datetime
		,t.handle_note
		,t.handle_pic
		FROM
		thf_salary_log t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_lastSalaryLog" parameterType="salaryLog"
		resultMap="salaryLog_DB_Result">
		SELECT
		t.code
		,t.staff_code
		,t.salary_code
		,t.type
		,t.handler
		,t.handle_datetime
		,t.handle_note
		,t.handle_pic
		FROM
		thf_salary_log t
		WHERE t.salary_code = #{salaryCode} AND t.handler != #{handler}
		ORDER by t.handle_datetime DESC limit 1
	</select>

	<select id="select_salaryLog_count" parameterType="salaryLog"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_salary_log t
		<include refid="where_condition" />
	</select>

	<insert id="insert_salaryLog" parameterType="salaryLog">
		INSERT INTO
		thf_salary_log(
		code
		,staff_code

		,salary_code
		,type
		,handler
		,handle_datetime
		,handle_note
		,handle_pic
		)
		VALUES(
		#{code}
		,#{staffCode}

		,#{salaryCode}
		,#{type}
		,#{handler}
		,#{handleDatetime}
		,#{handleNote}
		,#{handlePic}
		)
	</insert>

</mapper>