<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.ISalaryDAO">
	<resultMap id="salary_DB_Result" type="salary">
		<result column="code" property="code" />
		<result column="message_code" property="messageCode" />
		<result column="project_code" property="projectCode" />
		<result column="project_name" property="projectName" />
		<result column="staff_code" property="staffCode" />
		
		<result column="staff_name" property="staffName" />
		<result column="month" property="month" />
		<result column="leaving_days" property="leavingDays" />
		<result column="attendance_days" property="attendanceDays" />
		<result column="delay_hours" property="delayHours" />
		
		<result column="early_hours" property="earlyHours" />
		<result column="should_amount" property="shouldAmount" />
		<result column="cut_amount" property="cutAmount" />
		<result column="award_amount" property="awardAmount" />
		<result column="tax" property="tax" />
		
		<result column="fact_amount" property="factAmount" />
		<result column="fact_amount_remark" property="factAmountRemark" />
		<result column="pay_amount" property="payAmount" />
		<result column="supply_amount" property="supplyAmount" />
		<result column="late_pay_datetime" property="latePayDatetime" />
		
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="apply_note" property="applyNote" />
		<result column="create_datetime" property="createDatetime" />
		<result column="status" property="status" />
		
		<result column="approve_user" property="approveUser" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="approve_note" property="approveNote" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="approveUser != null and approveUser != '' ">
				AND t.approve_user = #{approveUser}
			</if>
			<if test="messageCode != null and messageCode != '' ">
				AND t.message_code = #{messageCode}
			</if>
			<if test="staffCode != null and staffCode != '' ">
				AND t.staff_code = #{staffCode}
			</if>
			<choose>
				<when test="projectCode != null and projectCode != '' ">
					AND t.project_code = #{projectCode}
				</when>
				<when test="projectCodeList != null and projectCodeList.size() > 0 ">
					AND t.project_code IN
					<foreach collection="projectCodeList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
			<if test="projectName != null and projectName != '' ">
				AND t.project_name like "%"#{projectName}"%"
			</if>
			<if test="month != null and month != '' ">
				AND t.month = #{month}
			</if>
			<choose>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
			</choose>
		</trim>
	</sql>
	
	<select id="select_salary" parameterType="salary" resultMap="salary_DB_Result">
		SELECT
		t.code
		,t.project_code
		,t.project_name
		,t.message_code
		,t.staff_code
		
		,t.staff_name
		,t.month
		,t.leaving_days
		,t.attendance_days
		,t.delay_hours
		
		,t.early_hours
		,t.should_amount
		,t.status
		,t.create_datetime
		,t.cut_amount
		
		,t.award_amount
		,t.tax
		,t.apply_user
		,t.apply_datetime
		,t.apply_note
		
		,t.approve_user
		,t.approve_datetime
		,t.approve_note
		,t.fact_amount
		,t.fact_amount_remark
		
		,t.pay_amount
		,t.supply_amount
		,t.late_pay_datetime
		FROM
		thf_salary t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_salary_count" parameterType="salary"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_salary t
		<include refid="where_condition" />
	</select>

	<select id="select_monthlySalarySumByProject" parameterType="salary"
		resultMap="salary_DB_Result">
		SELECT SUM(t.fact_amount) as fact_amount, t.month, t.project_code FROM thf_salary t
		<include refid="where_condition" />
		GROUP BY t.month, t.project_code
	</select>

	<insert id="insert_salary" parameterType="salary">
		INSERT INTO
		thf_salary(
		code
		,project_code
		,project_name
		,message_code
		,staff_code
		
		,staff_name
		,month
		,leaving_days
		,attendance_days
		,delay_hours
		
		,early_hours
		,should_amount
		,status
		,create_datetime
		,fact_amount
		,fact_amount_remark
		)
		VALUES(
		#{code}
		,#{projectCode}
		,#{projectName}
		,#{messageCode}
		,#{staffCode}
		
		,#{staffName}
		,#{month}
		,#{leavingDays}
		,#{attendanceDays}
		,#{delayHours}
		
		,#{earlyHours}
		,#{shouldAmount}
		,#{status}
		,#{createDatetime}
		,#{factAmount}
		,#{factAmountRemark}
		)
	</insert>

	<update id="update_salary" parameterType="salary">
		UPDATE thf_salary
		SET
		cut_amount = #{cutAmount}
		,award_amount = #{awardAmount}
		,tax = #{tax}
		,apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		,apply_note = #{applyNote}
		,fact_amount = #{factAmount}
		,fact_amount_remark = #{factAmountRemark}
		WHERE code = #{code}
	</update>
	
	<update id="approve_salary" parameterType="salary">
		UPDATE thf_salary
		SET
		status = #{status}
		,message_code = #{messageCode}
		,approve_user = #{approveUser}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		WHERE code = #{code}
	</update>

	<update id="pay_amount" parameterType="salary">
		UPDATE thf_salary
		SET
		status = #{status}
		,pay_amount = #{payAmount}
		,supply_amount = #{supplyAmount}
		,late_pay_datetime = #{latePayDatetime}
		WHERE code = #{code}
	</update>


	<update id="update_leavingDays" parameterType="salary">
		UPDATE thf_salary
		SET
		leaving_days = #{leavingDays}
		WHERE code = #{code}
	</update>

	<update id="update_status" parameterType="salary">
		UPDATE thf_salary
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_salary" parameterType="salary">
		DELETE FROM thf_salary WHERE code = #{code}
	</delete>
</mapper>