<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.ISkillDAO">

	<resultMap type="skill" id="skill_DB_Result">
		<result column="code" property="code"/>
		<result column="staff_code" property="staffCode" />
		<result column="staff_name" property="staffName" />
		<result column="name" property="name"/>	
		<result column="pdf" property="pdf"/>	
		<result column="score" property="score"/>	
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="staffCode != null and staffCode != '' ">
				AND t.staff_code  = #{staffCode}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
		</trim>
	</sql>
	
	<select id="select_skill" parameterType="skill" resultMap="skill_DB_Result">
		SELECT 
		t.code
		,t.staff_code
		,t.staff_name
		,t.name
		,t.pdf
		,t.score
		FROM thf_skill t
		<include refid="where_condition"/>
		<trim	prefix="ORDER BY">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_skill_count" parameterType="skill" resultType="java.lang.Long">
		SELECT count(1) FROM thf_skill t
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_skill" parameterType="skill">
		INSERT INTO 
		thf_skill(
		code
		,staff_code
		,staff_name
		,name
		,pdf
		,score
		)
		VALUES(
		#{code}
		,#{staffCode}
		,#{staffName}
		,#{name}
		,#{pdf}
		,#{score}
		)
	</insert>
	
	<update id="update_skill" parameterType="skill">
		UPDATE thf_skill
		SET
		name = #{name}
		,score = #{sroce}
		,pdf = #{pdf}
		WHERE code = #{code}
	</update>
</mapper>