<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IStaffDAO">
	<resultMap id="staff_DB_Result" type="staff">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="mobile" property="mobile" />
		
		<result column="id_type" property="idType" />
		<result column="id_no" property="idNo" />
		<result column="sex" property="sex" />
		<result column="id_nation" property="idNation" />
		<result column="id_address" property="idAddress" />
		
		<result column="id_pic" property="idPic" />
		<result column="id_police" property="idPolice" />
		<result column="id_startDate" property="idStartDate" />
		<result column="id_endDate" property="idEndDate" />
		<result column="birthday" property="birthday" />
		
		<result column="pict1" property="pict1" />
		<result column="pict2" property="pict2" />
		<result column="pict3" property="pict3" />
		<result column="pict4" property="pict4" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		
		<result column="feat" property="feat" />
		<result column="contacts" property="contacts" />
		<result column="contacts_mobile" property="contactsMobile" />
		<result column="pict1_status" property="pict1Status" />
		<result column="feat_status" property="featStatus" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeList != null and codeList.size() > 0 ">
				AND t.code IN
				<foreach collection="codeList" item="item" index="index" open="(" separator="," close=")">
						#{item}
				</foreach>
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="sex != null and sex != '' ">
				AND t.sex = #{sex}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.name like "%"#{keyword}"%" OR t.mobile like "%"#{keyword}"%" OR t.id_no like "%"#{keyword}"%")
			</if>
			<if test="keyword1 != null and keyword1 != '' ">
				AND (t.name = #{keyword1} OR t.id_no = #{keyword1})
			</if>
			<if test="feat != null and feat != '' ">
				AND t.feat = #{feat}
			</if>
			<if test="pict1Status != null and pict1Status != '' ">
				AND t.pict1_status = #{pict1Status}
			</if>
			<if test="featStatus != null and featStatus != '' ">
				AND t.feat_status = #{featStatus}
			</if>
			
			<if test="updateDatetimeStart != null and updateDatetimeStart != '' ">
				<![CDATA[AND t.update_datetime >= #{updateDatetimeStart}]]>
			</if>
			<if test="updateDatetimeEnd != null and updateDatetimeEnd != '' ">
				<![CDATA[AND t.update_datetime <= #{updateDatetimeEnd}]]>
			</if>
			<if test="province != null and province != '' and city != null and city != '' and area != null and area != ''">
				AND EXISTS 
					(SELECT 1 FROM thf_employ 
								WHERE thf_employ.staff_code = t.code 
									AND project_code IN (SELECT code FROM thf_project WHERE province = #{province} AND city = #{city} AND area = #{area}))
			</if>
			<if test="projectCode != null and projectCode != ''">
				AND EXISTS
					(SELECT 1 FROM thf_employ
								WHERE thf_employ.staff_code = t.code
									AND thf_employ.project_code = #{projectCode})
			</if>
		</trim>
	</sql>
	
	<select id="select_staff" parameterType="staff" resultMap="staff_DB_Result">
		SELECT
		t.code
		,t.name
		,t.mobile
		,t.id_type
		,t.id_no
		
		,t.sex
		,t.id_nation
		,t.id_address
		,t.id_pic
		
		,t.id_police
		,t.id_startDate
		,t.id_endDate
		,t.birthday
		
		,t.pict1
		,t.pict2
		,t.pict3
		,t.pict4
		,t.updater
		
		,t.update_datetime
		,t.remark
		,t.feat
		,t.contacts
		,t.contacts_mobile
		
		,t.pict1_status
		,t.feat_status
		,t.remark
		FROM
		thf_staff t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_staffBrief" parameterType="staff" resultMap="staff_DB_Result">
		SELECT
		t.code
		,t.name
		,t.mobile
		,t.id_type
		,t.id_no
		
		,t.sex
		,t.id_nation
		,t.id_address
		,t.id_police
		,t.id_startDate
		
		,t.id_endDate
		,t.birthday
		,t.contacts
		,t.contacts_mobile
		,t.pict1_status
		
		,t.feat_status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		thf_staff t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_staffPic" parameterType="staff" resultMap="staff_DB_Result">
		SELECT
		t.code
		,t.name
		,t.pict1
		,t.feat
		FROM
		thf_staff t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_staff_count" parameterType="staff"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_staff t
		<include refid="where_condition" />
	</select>

	<insert id="insert_staff" parameterType="staff">
		INSERT INTO
		thf_staff(
		code
		,name
		,id_type
		,id_no
		,sex
		
		,birthday
		,id_nation
		,id_address
		,id_pic
		,id_police
		
		,id_startDate
		,id_endDate
		,updater
		,update_datetime
		)
		VALUES(
		#{code}
		,#{name}
		,#{idType}
		,#{idNo}
		,#{sex}
		
		,#{birthday}
		,#{idNation}
		,#{idAddress}
		,#{idPic}
		,#{idPolice}
		
		,#{idStartDate}
		,#{idEndDate}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_pict1" parameterType="staff">
		UPDATE thf_staff
		SET
		pict1 = #{pict1}
		,pict1_status = #{pict1Status}
		,feat = #{feat}
		,feat_status = #{featStatus}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_picts" parameterType="staff">
		UPDATE thf_staff
		SET
		pict2 = #{pict2}
		,pict3 = #{pict3}
		,pict4 = #{pict4}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_contactInfo" parameterType="staff">
		UPDATE thf_staff
		SET
		mobile = #{mobile}
		,contacts = #{contacts}
		,contacts_mobile = #{contactsMobile}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_feat" parameterType="staff">
		UPDATE thf_staff
		SET
		feat = #{feat}
		,feat_status = #{featStatus}
		WHERE code = #{code}
	</update>

</mapper>