<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IStaffDAO">
	<resultMap id="staff_DB_Result" type="staff">
		<result column="code" property="code" />
		<result column="company_code" property="companyCode" />
		<result column="department_code" property="departmentCode" />
		<result column="name" property="name" />
		<result column="mobile" property="mobile" />
		
		<result column="id_type" property="idType" />
		<result column="id_no" property="idNo" />
		<result column="sex" property="sex" />
		<result column="id_nation" property="idNation" />
		<result column="id_address" property="idAddress" />
		
		<result column="id_pic" property="idPic" />
		<result column="id_police" property="idPolice" />
		<result column="id_startDate" property="idStartDate" />
		<result column="id_endDate" property="idEndDate" />
		<result column="birthday" property="birthday" />
		
		<result column="pict1" property="pict1" />
		<result column="pict2" property="pict2" />
		<result column="pict3" property="pict3" />
		<result column="pict4" property="pict4" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		
		<result column="remark" property="remark" />
		<result column="feat" property="feat" />
		<result column="contacts" property="contacts" />
		<result column="contacts_mobile" property="contactsMobile" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeList != null and codeList.size() > 0 ">
				AND t.code IN
				<foreach collection="codeList" item="item" index="index" open="(" separator="," close=")">
						#{item}
				</foreach>
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="departmentCode != null and departmentCode != '' ">
				AND t.department_code = #{departmentCode}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="sex != null and sex != '' ">
				AND t.sex = #{sex}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.name like "%"#{keyword}"%" OR  t.mobile like "%"#{keyword}"%" OR t.id_no like "%"#{keyword}"%")
			</if>
			
			<if test="feat != null and featfeat != '' ">
				AND t.feat = #{feat}
			</if>
		</trim>
	</sql>
	
	<select id="select_staff" parameterType="staff" resultMap="staff_DB_Result">
		SELECT
		t.code
		,t.name
		,t.mobile
		,t.company_code
		,t.department_code
		
		,t.id_type
		,t.id_no
		,t.sex
		,t.id_nation
		,t.id_address
		,t.id_pic
		
		,t.id_police
		,t.id_startDate
		,t.id_endDate
		,t.birthday
		
		,t.pict1
		,t.pict2
		,t.pict3
		,t.pict4
		,t.updater
		
		,t.update_datetime
		,t.remark
		,t.feat
		,t.contacts
		,t.contacts_mobile
		FROM
		thf_staff t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_staff_count" parameterType="staff"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_staff t
		<include refid="where_condition" />
	</select>

	<insert id="insert_staff" parameterType="staff">
		INSERT INTO
		thf_staff(
		code
		,company_code
		,department_code
		,name
		,mobile
		,id_type
		
		,id_no
		,sex
		,birthday
		,id_nation
		,id_address
		
		,id_pic
		,id_police
		,id_startDate
		,id_endDate
		,pict1
		
		,pict2
		,pict3
		,pict4
		,updater
		,update_datetime
		
		,remark
		,feat
		)
		VALUES(
		#{code}
		,#{companyCode}
		,#{departmentCode}
		,#{name}
		,#{mobile}
		,#{idType}
		
		,#{idNo}
		,#{sex}
		,#{birthday}
		,#{idNation}
		,#{idAddress}
		
		,#{idPic}
		,#{idPolice}
		,#{idStartDate}
		,#{idEndDate}
		,#{pict1}
		
		,#{pict2}
		,#{pict3}
		,#{pict4}
		,#{updater}
		,#{updateDatetime}
		
		,#{remark}
		,#{feat}
		)
	</insert>

	<update id="update_staff" parameterType="staff">
		UPDATE thf_staff
		SET
		name = #{name}
		,mobile = #{mobile}
		,id_type = #{idType}
		,id_no = #{idNo}
		,pict1 = #{pict1}
		,pict2 = #{pict2}
		,pict3 = #{pict3}
		,pict4 = #{pict4}
		,feat = #{feat}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


	<update id="update_StaffInfo" parameterType="staff">
		UPDATE thf_staff
		SET
		mobile = #{mobile}
		,contacts = #{contacts}
		,contacts_mobile = #{contactsMobile}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	
	<update id="update_feat" parameterType="staff">
		UPDATE thf_staff
		SET
		pict1 = #{pict1}
		,feat = #{feat}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_idPict" parameterType="staff">
		UPDATE thf_staff
		SET
		pict2 = #{pict2}
		,pict3 = #{pict3}
		,pict4 = #{pict4}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

</mapper>