<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.ITeamMasterDAO">
	<resultMap id="teamMaster_DB_Result" type="teamMaster">
		<result column="code" property="code" />
		<result column="team_sys_no" property="teamSysNo" />
		<result column="local_project_code" property="localProjectCode" />
		<result column="project_code" property="projectCode" />
		<result column="corp_code" property="corpCode" />
		<result column="corp_name" property="corpName" />
		<result column="team_name" property="teamName" />
		<result column="team_leader_name" property="teamLeaderName" />
		<result column="team_leader_phone" property="teamLeaderPhone" />
		<result column="team_leader_idcard_type" property="teamLeaderIdcardType" />
		<result column="team_leader_id_number" property="teamLeaderIdNumber" />
		<result column="responsible_person_name" property="responsiblePersonName" />
		<result column="responsible_person_phone" property="responsiblePersonPhone" />
		<result column="responsible_person_idcard_type" property="responsiblePersonIdcardType" />
		<result column="responsible_person_id_number" property="responsiblePersonIdNumber" />
		<result column="remark" property="remark" />
		<result column="entry_time" property="entryTime" />
		<result column="exit_time" property="exitTime" />
		<result column="parent_code" property="parentCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_teamMaster" parameterType="teamMaster" resultMap="teamMaster_DB_Result">
		SELECT
		t.code
		,t.team_sys_no
		,t.local_project_code
		,t.project_code
		,t.corp_code
		,t.corp_name
		,t.team_name
		,t.team_leader_name
		,t.team_leader_phone
		,t.team_leader_idcard_type
		,t.team_leader_id_number
		,t.responsible_person_name
		,t.responsible_person_phone
		,t.responsible_person_idcard_type
		,t.responsible_person_id_number
		,t.remark
		,t.entry_time
		,t.exit_time
		,t.parent_code
		FROM
		thf_team_master t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_teamMaster_count" parameterType="teamMaster"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_team_master t
		<include refid="where_condition" />
	</select>

	<insert id="insert_teamMaster" parameterType="teamMaster">
		INSERT INTO
		thf_team_master(
		code
		,team_sys_no
		,local_project_code
		,project_code
		,corp_code
		,corp_name
		,team_name
		,team_leader_name
		,team_leader_phone
		,team_leader_idcard_type
		,team_leader_id_number
		,responsible_person_name
		,responsible_person_phone
		,responsible_person_idcard_type
		,responsible_person_id_number
		,remark
		,entry_time
		,exit_time
		,parent_code
		)
		VALUES(
		#{code}
		,#{teamSysNo}
		,#{localProjectCode}
		,#{projectCode}
		,#{corpCode}
		,#{corpName}
		,#{teamName}
		,#{teamLeaderName}
		,#{teamLeaderPhone}
		,#{teamLeaderIdcardType}
		,#{teamLeaderIdNumber}
		,#{responsiblePersonName}
		,#{responsiblePersonPhone}
		,#{responsiblePersonIdcardType}
		,#{responsiblePersonIdNumber}
		,#{remark}
		,#{entryTime}
		,#{exitTime}
		,#{parentCode}
		)
	</insert>

	<update id="update_teamMaster" parameterType="teamMaster">
		UPDATE thf_team_master
		SET
		team_sys_no = #{teamSysNo}
		,local_project_code = #{localProjectCode}
		,project_code = #{projectCode}
		,corp_code = #{corpCode}
		,corp_name = #{corpName}
		,team_name = #{teamName}
		,team_leader_name = #{teamLeaderName}
		,team_leader_phone = #{teamLeaderPhone}
		,team_leader_idcard_type = #{teamLeaderIdcardType}
		,team_leader_id_number = #{teamLeaderIdNumber}
		,responsible_person_name = #{responsiblePersonName}
		,responsible_person_phone = #{responsiblePersonPhone}
		,responsible_person_idcard_type = #{responsiblePersonIdcardType}
		,responsible_person_id_number = #{responsiblePersonIdNumber}
		,remark = #{remark}
		,entry_time = #{entryTime}
		,exit_time = #{exitTime}
		,parent_code = #{parentCode}
		WHERE code = #{code}
	</update>


</mapper>