<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.gchf.dao.IWorkerInfoDAO">
	<resultMap id="WorkerInfo_DB_Result" type="workerInfo">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="id_card_type" property="idCardType" />
		<result column="id_card_number" property="idCardNumber" />
		<result column="gender" property="gender" />
		<result column="nation" property="nation" />
		<result column="edu_level" property="eduLevel" />
		<result column="degree" property="degree" />
		<result column="worker_type" property="workerType" />
		<result column="birthday" property="birthday" />
		<result column="birth_place_code" property="birthPlaceCode" />
		<result column="address" property="address" />
		<result column="head_image_url" property="headImageUrl" />
		<result column="politics_type" property="politicsType" />
		<result column="is_joined" property="isJoined" />
		<result column="joined_time" property="joinedTime" />
		<result column="cell_phone" property="cellPhone" />
		<result column="culture_level_type" property="cultureLevelType" />
		<result column="specialty" property="specialty" />
		<result column="has_bad_medical_history" property="hasBadMedicalHistory" />
		<result column="urgent_link_man" property="urgentLinkMan" />
		<result column="urgent_link_man_phone" property="urgentLinkManPhone" />
		<result column="work_type_code" property="workTypeCode" />
		<result column="work_corp_name" property="workCorpName" />
		<result column="work_date" property="workDate" />
		<result column="marital_status" property="maritalStatus" />
		<result column="grant_org" property="grantOrg" />
		<result column="positive_id_card_image_url" property="positiveIdCardImageUrl" />
		<result column="negative_id_card_image_url" property="negativeIdCardImageUrl" />
		<result column="hand_id_card_image_url" property="handIdCardImageUrl" />
		<result column="start_date" property="startDate" />
		<result column="expiry_date" property="expiryDate" />
		<result column="create_datetime" property="createDatetime" />
		<result column="attendance_picture" property="attendancePicture" />
		<result column="worker_guid" property="workerGuid" />
		<result column="worker_attendance_pic_guid" property="workerAttendancePicGuid" />
		<result column="worker_pic_upload_status" property="workerPicUploadStatus" />
		<result column="worker_upload_status" property="workerUploadStatus" />
		
		<result column="id_card_number" property="businessIdCardNumber" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="idCardNumber != null and idCardNumber != '' ">
				AND t.id_card_number like "%"#{idCardNumber}"%"
			</if>
			<if test="idCardType != null and idCardType != '' ">
				AND t.id_card_type = #{idCardType}
			</if>
			
			<if test="businessIdCardNumber != null and businessIdCardNumber != '' ">
				AND t.id_card_number = #{businessIdCardNumber}
			</if>
			<if test="cellPhone != null and cellPhone != '' ">
				AND t.cell_phone = #{cellPhone}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="createDatetimeStart != null and createDatetimeEnd != '' ">
				AND t.create_datetime between #{createDatetimeStart} AND
				#{createDatetimeEnd}
			</if>
		</trim>
	</sql>

	<insert id="insert_WorkerInfo" parameterType="workerInfo">
		INSERT INTO
		thf_worker_info(
		code
		,name
		,id_card_type
		,id_card_number
		,gender
		,nation

		,birthday
		,address
		,start_date
		,expiry_date
		,grant_org
		,head_image_url

		,cell_phone
		,has_bad_medical_history
		,work_type_code
		,birth_place_code
		,politics_type
		,create_datetime
		,is_joined
		,joined_time
		,specialty
		,marital_status
		,hand_id_card_image_url
		,culture_level_type
		,attendance_picture
		,worker_guid
		,worker_attendance_pic_guid
		,worker_pic_upload_status
		,worker_upload_status
		)
		VALUES(
		#{code}
		,#{name}
		,#{idCardType}
		,#{idCardNumber}
		,#{gender}
		,#{nation}

		,#{birthday}
		,#{address}
		,#{startDate}
		,#{expiryDate}
		,#{grantOrg}
		,#{headImageUrl}

		,#{cellPhone}
		,#{hasBadMedicalHistory}
		,#{workTypeCode}
		,#{birthPlaceCode}
		,#{politicsType}
		,#{createDatetime}
		,#{isJoined}
		,#{joinedTime}
		,#{specialty}
		,#{maritalStatus}
		,#{handIdCardImageUrl}
		,#{cultureLevelType}
		,#{attendancePicture}
		,#{workerGuid}
		,#{workerAttendancePicGuid}
		,#{workerPicUploadStatus}
		,#{workerUploadStatus}
		)
	</insert>

	<delete id="delete_WorkerInfo" parameterType="workerInfo">
		DELETE from
		thf_worker_info WHERE code = #{code}
	</delete>

	<update id="update_WorkerInfo" parameterType="workerInfo">
		UPDATE
		thf_worker_info
		SET
		name = #{name}
		,id_card_type = #{idCardType}
		,id_card_number = #{idCardNumber}
		,gender = #{gender}
		,nation = #{nation}
		,edu_level = #{eduLevel}
		,politics_type = #{politicsType}
		,degree = #{degree}
		,worker_type = #{workerType}
		
		,birthday = #{birthday}
		,birth_place_code = #{birthPlaceCode}
		,address = #{address}
		,head_image_url = #{headImageUrl}
		,is_joined = #{isJoined}
		,joined_time = #{joinedTime}
		,culture_level_type = #{cultureLevelType}
		,specialty = #{specialty}

		,has_bad_medical_history = #{hasBadMedicalHistory}
		,work_type_code = #{workTypeCode}
		,work_corp_name = #{workCorpName}
		,work_date = #{workDate}
		,marital_status = #{maritalStatus}

		,grant_org = #{grantOrg}
		,start_date = #{startDate}
		,expiry_date = #{expiryDate}
		,create_datetime = #{createDatetime}
		,attendance_picture = #{attendancePicture}
		WHERE code = #{code}
	</update>

	<update id="update_WorkerInfoAboutIdcard" parameterType="workerInfo">
		UPDATE
		thf_worker_info
		SET
		hand_id_card_image_url = #{handIdCardImageUrl}
		,positive_id_card_image_url = #{positiveIdCardImageUrl}
		,negative_id_card_image_url = #{negativeIdCardImageUrl}
		WHERE code =
		#{code}
	</update>
	
	<update id="update_WorkerInfoAboutAttendance" parameterType="workerInfo">
        UPDATE
        thf_worker_info
        SET
        worker_guid = #{workerGuid}
        ,worker_attendance_pic_guid = #{workerAttendancePicGuid}
        
        WHERE code =
        #{code}
    </update>

	<update id="update_WorkerInfoAboutPhone" parameterType="workerInfo">
		UPDATE
		thf_worker_info
		SET

		cell_phone = #{cellPhone}
		,urgent_link_man = #{urgentLinkMan}
		,urgent_link_man_phone = #{urgentLinkManPhone}

		WHERE
		code = #{code}
	</update>

	<select id="select_WorkerInfo" parameterType="workerInfo"
		resultMap="WorkerInfo_DB_Result">
		SELECT
		t.code
		,t.name
		,t.id_card_type
		,t.id_card_number
		,t.gender
		,t.nation
		,t.edu_level
		,t.degree
		
		,t.worker_type
		,t.birthday
		,t.birth_place_code
		,t.address
		,t.head_image_url
		,t.politics_type
		
		,t.is_joined
		,t.joined_time
		,t.cell_phone
		,t.culture_level_type
		,t.specialty
		,t.has_bad_medical_history
		
		,t.urgent_link_man
		,t.urgent_link_man_phone
		,t.work_type_code
		,t.work_corp_name
		,t.work_date
		,t.marital_status
		
		,t.grant_org
		,t.positive_id_card_image_url
		,t.negative_id_card_image_url
		,t.hand_id_card_image_url
		,t.start_date
		,t.expiry_date
		,t.create_datetime
		
		
		,t.attendance_picture
		,t.worker_guid
		,t.worker_attendance_pic_guid
		,t.worker_pic_upload_status
		,t.worker_upload_status
		FROM
		thf_worker_info t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_BrifeWorkerInfo" parameterType="workerInfo"
		resultMap="WorkerInfo_DB_Result">
		SELECT
		t.code
		,t.name
		,t.id_card_number
		,t.create_datetime
		FROM
		thf_worker_info t
		<include refid="where_condition" />
	</select>

	<select id="select_WorkerInfo_count" parameterType="workerInfo"
		resultType="java.lang.Long">
		SELECT count(1) FROM thf_worker_info t
		<include refid="where_condition" />
	</select>

</mapper>